workflow/n8n-portfolio-enrichment-v2.1-fixed.json
{
  "name": "Portfolio Enrichment v2.1 – Multi-Provider (Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 22 * * *" }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Esegue ogni notte alle 22:00 CET"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "APP_BASE_URL",
              "value": "https://portfolio.newwave-media.it",
              "type": "string"
            },
            {
              "id": "2",
              "name": "WEBHOOK_SECRET",
              "value": "YOUR_SECRET_HERE_CHANGE_ME",
              "type": "string"
            },
            {
              "id": "3",
              "name": "TWELVE_DATA_KEY",
              "value": "",
              "type": "string"
            },
            {
              "id": "4",
              "name": "FMP_KEY",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Config Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300],
      "notes": "IMPORTANTE: Configura WEBHOOK_SECRET (obbligatorio). API keys opzionali (lascia vuoto se non hai)"
    },
    {
      "parameters": {
        "url": "={{$json.APP_BASE_URL}}/api/n8n/portfolio.php",
        "options": {}
      },
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Recupera holdings da PHP (HMAC opzionale)"
    },
    {
      "parameters": {
        "jsCode": "// Extract holdings array from API response\nconst holdings = $input.first().json.holdings || [];\nconst config = $input.all()[0].json;\n\nreturn holdings.map(h => ({\n  json: {\n    ...h,\n    APP_BASE_URL: config.APP_BASE_URL,\n    WEBHOOK_SECRET: config.WEBHOOK_SECRET,\n    TWELVE_DATA_KEY: config.TWELVE_DATA_KEY,\n    FMP_KEY: config.FMP_KEY\n  }\n}));"
      },
      "name": "Extract Holdings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300],
      "notes": "Processa 3 holdings per volta per evitare rate limiting"
    },
    {
      "parameters": {
        "jsCode": "// Preprocess: normalize symbols for various providers\nconst h = $json;\n\n// Normalize ticker for different providers\nconst ticker = h.ticker || '';\nconst twdSymbol = ticker.replace('.FRA', '.MI').replace('.DE', '.MI');\nconst fmpSymbol = ticker.replace('.MI', '.DE').replace('.FRA', '.DE');\nconst yahooSymbol = ticker;\n\nreturn [{\n  json: {\n    isin: h.isin,\n    ticker: ticker,\n    name: h.name,\n    quantity: h.quantity,\n    avg_price: h.avg_price,\n    current_price: h.current_price,\n    instrument_type: h.instrument_type,\n    asset_class: h.asset_class,\n    sector: h.sector,\n    // Provider-specific symbols\n    twd_symbol: twdSymbol,\n    fmp_symbol: fmpSymbol,\n    yahoo_symbol: yahooSymbol,\n    justetf_isin: h.isin,\n    // Config\n    APP_BASE_URL: h.APP_BASE_URL,\n    WEBHOOK_SECRET: h.WEBHOOK_SECRET,\n    TWELVE_DATA_KEY: h.TWELVE_DATA_KEY,\n    FMP_KEY: h.FMP_KEY\n  }\n}];"
      },
      "name": "Preprocess Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "=https://api.twelvedata.com/price?symbol={{$json.twd_symbol}}&apikey={{$json.TWELVE_DATA_KEY}}",
        "options": {
          "timeout": 8000
        }
      },
      "name": "TwelveData Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 150],
      "continueOnFail": true,
      "notes": "Provider 1: TwelveData (se hai API key)"
    },
    {
      "parameters": {
        "jsCode": "// Check if TwelveData returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst tdResponse = $json;\n\n// Check if we have API key\nif (!holding.TWELVE_DATA_KEY || holding.TWELVE_DATA_KEY === '') {\n  return []; // Skip if no API key\n}\n\nif (tdResponse && tdResponse.price && parseFloat(tdResponse.price) > 0) {\n  const price = parseFloat(tdResponse.price);\n  \n  // Local classification (same logic as v1)\n  const name = holding.name.toLowerCase();\n  const instrumentType = holding.instrument_type;\n  \n  let asset_class = 'Unknown';\n  let sector = 'Unknown';\n  \n  if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n    asset_class = 'Commodity';\n    sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n  } else if (instrumentType === 'ETF') {\n    asset_class = 'Equity';\n    if (name.includes('dividend') || name.includes('aristocrat')) {\n      sector = 'Dividend';\n    } else if (name.includes('world') || name.includes('global')) {\n      sector = 'Global';\n    } else if (name.includes('u.s.') || name.includes('s&p')) {\n      sector = 'USA';\n    } else {\n      sector = 'Mixed';\n    }\n  } else if (instrumentType === 'Fondo') {\n    asset_class = 'Equity';\n    if (name.includes('biotech')) {\n      sector = 'Healthcare';\n    } else if (name.includes('robot') || name.includes('tech')) {\n      sector = 'Technology';\n    } else if (name.includes('dividend')) {\n      sector = 'Dividend';\n    } else {\n      sector = 'Active Fund';\n    }\n  }\n  \n  return [{\n    json: {\n      isin: holding.isin,\n      current_price: price,\n      price_source: 'TwelveData',\n      asset_class: asset_class,\n      sector: sector,\n      APP_BASE_URL: holding.APP_BASE_URL,\n      WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "TWD Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 150]
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/api/v3/quote/{{$json.fmp_symbol}}?apikey={{$json.FMP_KEY}}",
        "options": {
          "timeout": 8000
        }
      },
      "name": "FMP Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300],
      "continueOnFail": true,
      "notes": "Provider 2: Financial Modeling Prep (se hai API key)"
    },
    {
      "parameters": {
        "jsCode": "// Check if FMP returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst fmpResponse = $json;\n\n// Check if we have API key\nif (!holding.FMP_KEY || holding.FMP_KEY === '') {\n  return []; // Skip if no API key\n}\n\nif (Array.isArray(fmpResponse) && fmpResponse.length > 0) {\n  const data = fmpResponse[0];\n  const price = parseFloat(data.price);\n  \n  if (price && price > 0) {\n    // Local classification\n    const name = holding.name.toLowerCase();\n    const instrumentType = holding.instrument_type;\n    \n    let asset_class = 'Unknown';\n    let sector = 'Unknown';\n    \n    if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n      asset_class = 'Commodity';\n      sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n    } else if (instrumentType === 'ETF') {\n      asset_class = 'Equity';\n      if (name.includes('dividend') || name.includes('aristocrat')) {\n        sector = 'Dividend';\n      } else if (name.includes('world') || name.includes('global')) {\n        sector = 'Global';\n      } else if (name.includes('u.s.') || name.includes('s&p')) {\n        sector = 'USA';\n      } else {\n        sector = 'Mixed';\n      }\n    } else if (instrumentType === 'Fondo') {\n      asset_class = 'Equity';\n      if (name.includes('biotech')) {\n        sector = 'Healthcare';\n      } else if (name.includes('robot') || name.includes('tech')) {\n        sector = 'Technology';\n      } else if (name.includes('dividend')) {\n        sector = 'Dividend';\n      } else {\n        sector = 'Active Fund';\n      }\n    }\n    \n    return [{\n      json: {\n        isin: holding.isin,\n        current_price: price,\n        price_source: 'FMP',\n        asset_class: asset_class,\n        sector: sector,\n        APP_BASE_URL: holding.APP_BASE_URL,\n        WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n      }\n    }];\n  }\n}\n\nreturn [];"
      },
      "name": "FMP Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.yahoo_symbol}}?range=1d&interval=1d",
        "options": {
          "timeout": 8000
        }
      },
      "name": "Yahoo Finance Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 450],
      "continueOnFail": true,
      "notes": "Provider 3: Yahoo Finance (gratuito, sempre attivo)"
    },
    {
      "parameters": {
        "jsCode": "// Check if Yahoo returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst yahooResponse = $json;\n\nlet price = 0;\ntry {\n  price = yahooResponse.chart.result[0].meta.regularMarketPrice;\n} catch (e) {\n  // Yahoo API failed\n}\n\nif (price && price > 0) {\n  // Local classification\n  const name = holding.name.toLowerCase();\n  const instrumentType = holding.instrument_type;\n  \n  let asset_class = 'Unknown';\n  let sector = 'Unknown';\n  \n  if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n    asset_class = 'Commodity';\n    sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n  } else if (instrumentType === 'ETF') {\n    asset_class = 'Equity';\n    if (name.includes('dividend') || name.includes('aristocrat')) {\n      sector = 'Dividend';\n    } else if (name.includes('world') || name.includes('global')) {\n      sector = 'Global';\n    } else if (name.includes('u.s.') || name.includes('s&p')) {\n      sector = 'USA';\n    } else {\n      sector = 'Mixed';\n    }\n  } else if (instrumentType === 'Fondo') {\n    asset_class = 'Equity';\n    if (name.includes('biotech')) {\n      sector = 'Healthcare';\n    } else if (name.includes('robot') || name.includes('tech')) {\n      sector = 'Technology';\n    } else if (name.includes('dividend')) {\n      sector = 'Dividend';\n    } else {\n      sector = 'Active Fund';\n    }\n  }\n  \n  return [{\n    json: {\n      isin: holding.isin,\n      current_price: price,\n      price_source: 'YahooFinance',\n      asset_class: asset_class,\n      sector: sector,\n      APP_BASE_URL: holding.APP_BASE_URL,\n      WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "Yahoo Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "url": "=https://www.justetf.com/api/etfs/{{$json.justetf_isin}}/quote?locale=en&currency=EUR",
        "options": {
          "timeout": 8000
        }
      },
      "name": "JustETF Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 600],
      "continueOnFail": true,
      "notes": "Provider 4: JustETF (gratuito, per ETF europei)"
    },
    {
      "parameters": {
        "jsCode": "// Check if JustETF returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst justETFResponse = $json;\n\nlet price = 0;\ntry {\n  const data = typeof justETFResponse === 'string' ? JSON.parse(justETFResponse) : justETFResponse;\n  price = data.latestQuote?.raw || 0;\n} catch (e) {\n  // JustETF API failed\n}\n\nif (price && price > 0) {\n  // Local classification\n  const name = holding.name.toLowerCase();\n  const instrumentType = holding.instrument_type;\n  \n  let asset_class = 'Unknown';\n  let sector = 'Unknown';\n  \n  if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n    asset_class = 'Commodity';\n    sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n  } else if (instrumentType === 'ETF') {\n    asset_class = 'Equity';\n    if (name.includes('dividend') || name.includes('aristocrat')) {\n      sector = 'Dividend';\n    } else if (name.includes('world') || name.includes('global')) {\n      sector = 'Global';\n    } else if (name.includes('u.s.') || name.includes('s&p')) {\n      sector = 'USA';\n    } else {\n      sector = 'Mixed';\n    }\n  } else if (instrumentType === 'Fondo') {\n    asset_class = 'Equity';\n    if (name.includes('biotech')) {\n      sector = 'Healthcare';\n    } else if (name.includes('robot') || name.includes('tech')) {\n      sector = 'Technology';\n    } else if (name.includes('dividend')) {\n      sector = 'Dividend';\n    } else {\n      sector = 'Active Fund';\n    }\n  }\n  \n  return [{\n    json: {\n      isin: holding.isin,\n      current_price: price,\n      price_source: 'JustETF',\n      asset_class: asset_class,\n      sector: sector,\n      APP_BASE_URL: holding.APP_BASE_URL,\n      WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "JustETF Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 600]
    },
    {
      "parameters": {
        "jsCode": "// All providers failed - prepare for LLM fallback\nconst holding = $node['Preprocess Symbols'].json;\n\n// Local classification as fallback\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend') || name.includes('aristocrat')) {\n    sector = 'Dividend';\n  } else if (name.includes('world') || name.includes('global')) {\n    sector = 'Global';\n  } else if (name.includes('u.s.') || name.includes('s&p')) {\n    sector = 'USA';\n  } else {\n    sector = 'Mixed';\n  }\n} else if (instrumentType === 'Fondo') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) {\n    sector = 'Healthcare';\n  } else if (name.includes('robot') || name.includes('tech')) {\n    sector = 'Technology';\n  } else if (name.includes('dividend')) {\n    sector = 'Dividend';\n  } else {\n    sector = 'Active Fund';\n  }\n}\n\nreturn [{\n  json: {\n    isin: holding.isin,\n    current_price: holding.current_price, // Keep existing price\n    price_source: 'Fallback',\n    asset_class: asset_class,\n    sector: sector,\n    APP_BASE_URL: holding.APP_BASE_URL,\n    WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n  }\n}];"
      },
      "name": "Fallback - Keep Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 750],
      "notes": "Se tutti i provider falliscono, mantiene prezzo esistente + classificazione locale"
    },
    {
      "parameters": {
        "amount": 200,
        "unit": "milliseconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 300],
      "notes": "Delay tra batch per evitare rate limiting"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all enriched holdings\nconst items = $input.all();\n\n// Get config from first item\nconst firstItem = items[0].json;\nconst appBaseUrl = firstItem.APP_BASE_URL;\nconst webhookSecret = firstItem.WEBHOOK_SECRET;\n\n// Extract enrichment data (remove config fields)\nconst holdings = items.map(item => {\n  const { APP_BASE_URL, WEBHOOK_SECRET, TWELVE_DATA_KEY, FMP_KEY, ...enrichment } = item.json;\n  return enrichment;\n});\n\nconst payload = {\n  workflow_id: 'portfolio_enrichment_v2.1',\n  timestamp: new Date().toISOString(),\n  holdings: holdings\n};\n\nconst crypto = require('crypto');\nconst payloadStr = JSON.stringify(payload);\nconst hmac = crypto.createHmac('sha256', webhookSecret).update(payloadStr).digest('hex');\n\nreturn [{\n  json: {\n    APP_BASE_URL: appBaseUrl,\n    payload: payload,\n    signature: `sha256=${hmac}`,\n    payloadStr: payloadStr\n  }\n}];"
      },
      "name": "Aggregate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.APP_BASE_URL}}/api/n8n/enrich.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Signature",
              "value": "={{$json.signature}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.payloadStr}}",
        "options": {}
      },
      "name": "Post Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Config Variables", "type": "main", "index": 0 }]]
    },
    "Config Variables": {
      "main": [[{ "node": "Get Portfolio", "type": "main", "index": 0 }]]
    },
    "Get Portfolio": {
      "main": [[{ "node": "Extract Holdings", "type": "main", "index": 0 }]]
    },
    "Extract Holdings": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [
        [{ "node": "Preprocess Symbols", "type": "main", "index": 0 }],
        [{ "node": "Aggregate & Sign", "type": "main", "index": 0 }]
      ]
    },
    "Preprocess Symbols": {
      "main": [
        [
          { "node": "TwelveData Price", "type": "main", "index": 0 },
          { "node": "FMP Price", "type": "main", "index": 0 },
          { "node": "Yahoo Finance Price", "type": "main", "index": 0 },
          { "node": "JustETF Price", "type": "main", "index": 0 }
        ]
      ]
    },
    "TwelveData Price": {
      "main": [[{ "node": "TWD Success?", "type": "main", "index": 0 }]]
    },
    "TWD Success?": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "FMP Price": {
      "main": [[{ "node": "FMP Success?", "type": "main", "index": 0 }]]
    },
    "FMP Success?": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Yahoo Finance Price": {
      "main": [[{ "node": "Yahoo Success?", "type": "main", "index": 0 }]]
    },
    "Yahoo Success?": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "JustETF Price": {
      "main": [[{ "node": "JustETF Success?", "type": "main", "index": 0 }]]
    },
    "JustETF Success?": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]],
      "fallback": [[{ "node": "Fallback - Keep Existing", "type": "main", "index": 0 }]]
    },
    "Fallback - Keep Existing": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Wait": {
      "main": [[{ "node": "Loop Back", "type": "main", "index": 0 }]]
    },
    "Loop Back": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Aggregate & Sign": {
      "main": [[{ "node": "Post Enriched Data", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T16:00:00.000Z",
  "versionId": "2.1"
}
