workflow/n8n-portfolio-enrichment-v2.2.json.bak
{
  "name": "Portfolio Enrichment v2.2 – Classification Fixed",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "APP_BASE_URL",
              "stringValue": "https://portfolio.newwave-media.it"
            },
            {
              "name": "WEBHOOK_SECRET",
              "stringValue": "a1b2c3d4e5f7349012345678901234567890abcdef1234567890abcdef123456"
            },
            {
              "name": "TWELVE_DATA_KEY"
            },
            {
              "name": "FMP_KEY"
            }
          ]
        },
        "options": {}
      },
      "name": "Config Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1888,
        1568
      ],
      "id": "27b54cb6-7d0b-43a0-a99e-c61f4ca44f6a",
      "notes": "IMPORTANTE: Configura WEBHOOK_SECRET (obbligatorio). API keys opzionali (lascia vuoto se non hai)"
    },
    {
      "parameters": {
        "url": "={{$json.APP_BASE_URL}}/api/n8n/portfolio.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ETF-Portfolio-Manager/2.1; +https://portfolio.newwave-media.it"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1664,
        1568
      ],
      "id": "ac7b0aa3-accf-4616-b0e5-733db81f40bb",
      "notes": "Recupera holdings da PHP (HMAC opzionale)"
    },
    {
      "parameters": {
        "jsCode": "// Extract holdings array from API response\nconst holdings = $input.first().json.holdings || [];\nconst config = $input.all()[0].json;\n\nreturn holdings.map(h => ({\n  json: {\n    ...h,\n    APP_BASE_URL: config.APP_BASE_URL,\n    WEBHOOK_SECRET: config.WEBHOOK_SECRET,\n    TWELVE_DATA_KEY: config.TWELVE_DATA_KEY,\n    FMP_KEY: config.FMP_KEY\n  }\n}));"
      },
      "name": "Extract Holdings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        1568
      ],
      "id": "018477c2-eac2-4bb2-8657-fdb7016a9246"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1216,
        1568
      ],
      "id": "7b386863-1967-4c06-b247-bebd62606b97",
      "notes": "Processa 3 holdings per volta per evitare rate limiting"
    },
    {
      "parameters": {
        "jsCode": "// Preprocess: normalize symbols for various providers\nconst h = $json;\n\n// Normalize ticker for different providers\nconst ticker = h.ticker || '';\nconst twdSymbol = ticker.replace('.FRA', '.MI').replace('.DE', '.MI');\nconst fmpSymbol = ticker.replace('.MI', '.DE').replace('.FRA', '.DE');\nconst yahooSymbol = ticker;\n\nreturn [{\n  json: {\n    isin: h.isin,\n    ticker: ticker,\n    name: h.name,\n    quantity: h.quantity,\n    avg_price: h.avg_price,\n    current_price: h.current_price,\n    instrument_type: h.instrument_type,\n    asset_class: h.asset_class,\n    sector: h.sector,\n    // Provider-specific symbols\n    twd_symbol: twdSymbol,\n    fmp_symbol: fmpSymbol,\n    yahoo_symbol: yahooSymbol,\n    justetf_isin: h.isin,\n    // Config\n    APP_BASE_URL: h.APP_BASE_URL,\n    WEBHOOK_SECRET: h.WEBHOOK_SECRET,\n    TWELVE_DATA_KEY: h.TWELVE_DATA_KEY,\n    FMP_KEY: h.FMP_KEY\n  }\n}];"
      },
      "name": "Preprocess Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1040
      ],
      "id": "934f4d26-ffb4-4bc7-9daa-1ac946c838bc"
    },
    {
      "parameters": {
        "url": "=https://api.twelvedata.com/price?symbol={{$json.twd_symbol}}&apikey={{$json.TWELVE_DATA_KEY}}",
        "options": {
          "timeout": 8000
        }
      },
      "name": "TwelveData Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -544,
        752
      ],
      "id": "5b7867ae-d79d-49de-89ef-903e69a9d6af",
      "continueOnFail": true,
      "notes": "Provider 1: TwelveData (se hai API key)"
    },
    {
      "parameters": {
        "jsCode": "// Check if TwelveData returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst tdResponse = $json;\n\n// Check if we have API key\nif (!holding.TWELVE_DATA_KEY || holding.TWELVE_DATA_KEY === '') {\n  return []; // Skip if no API key\n}\n\nif (tdResponse && tdResponse.price && parseFloat(tdResponse.price) > 0) {\n  const price = parseFloat(tdResponse.price);\n  \n  // Local classification (same logic as v1)\n  const name = holding.name.toLowerCase();\n  const instrumentType = holding.instrument_type;\n  \n  let asset_class = 'Unknown';\n  let sector = 'Unknown';\n  \n  if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n    asset_class = 'Commodity';\n    sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n  } else if (instrumentType === 'ETF') {\n    asset_class = 'Equity';\n    if (name.includes('dividend') || name.includes('aristocrat') || name.includes('div')) {\n      sector = 'Dividend';\n    } else if (name.includes('world') || name.includes('global')) {\n      sector = 'Global';\n    } else if (name.includes('u.s.') || name.includes('s&p')) {\n      sector = 'USA';\n    } else {\n      sector = 'Mixed';\n    }\n  } else if (instrumentType === 'Fondo') {\n    asset_class = 'Equity';\n    if (name.includes('biotech')) {\n      sector = 'Healthcare';\n    } else if (name.includes('robot') || name.includes('tech')) {\n      sector = 'Technology';\n    } else if (name.includes('dividend')) {\n      sector = 'Dividend';\n    } else {\n      sector = 'Active Fund';\n    }\n  }\n  \n  return [{\n    json: {\n      isin: holding.isin,\n      current_price: price,\n      price_source: 'TwelveData',\n      asset_class: asset_class,\n      sector: sector,\n      APP_BASE_URL: holding.APP_BASE_URL,\n      WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "TWD Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        752
      ],
      "id": "9c57f2ad-b90f-441b-89c1-499d1389baa2"
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/api/v3/quote/{{$json.fmp_symbol}}?apikey={{$json.FMP_KEY}}",
        "options": {
          "timeout": 8000
        }
      },
      "name": "FMP Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -544,
        944
      ],
      "id": "a90a3023-bf06-4c4b-a69f-4f4d820226d5",
      "continueOnFail": true,
      "notes": "Provider 2: Financial Modeling Prep (se hai API key)"
    },
    {
      "parameters": {
        "jsCode": "// Check if FMP returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst fmpResponse = $json;\n\n// Check if we have API key\nif (!holding.FMP_KEY || holding.FMP_KEY === '') {\n  return []; // Skip if no API key\n}\n\nif (Array.isArray(fmpResponse) && fmpResponse.length > 0) {\n  const data = fmpResponse[0];\n  const price = parseFloat(data.price);\n  \n  if (price && price > 0) {\n    // Local classification\n    const name = holding.name.toLowerCase();\n    const instrumentType = holding.instrument_type;\n    \n    let asset_class = 'Unknown';\n    let sector = 'Unknown';\n    \n    if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n      asset_class = 'Commodity';\n      sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n    } else if (instrumentType === 'ETF') {\n      asset_class = 'Equity';\n      if (name.includes('dividend') || name.includes('aristocrat')) {\n        sector = 'Dividend';\n      } else if (name.includes('world') || name.includes('global')) {\n        sector = 'Global';\n      } else if (name.includes('u.s.') || name.includes('s&p')) {\n        sector = 'USA';\n      } else {\n        sector = 'Mixed';\n      }\n    } else if (instrumentType === 'Fondo') {\n      asset_class = 'Equity';\n      if (name.includes('biotech')) {\n        sector = 'Healthcare';\n      } else if (name.includes('robot') || name.includes('tech')) {\n        sector = 'Technology';\n      } else if (name.includes('dividend')) {\n        sector = 'Dividend';\n      } else {\n        sector = 'Active Fund';\n      }\n    }\n    \n    return [{\n      json: {\n        isin: holding.isin,\n        current_price: price,\n        price_source: 'FMP',\n        asset_class: asset_class,\n        sector: sector,\n        APP_BASE_URL: holding.APP_BASE_URL,\n        WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n      }\n    }];\n  }\n}\n\nreturn [];"
      },
      "name": "FMP Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        944
      ],
      "id": "91074507-5a2a-4559-ab72-822877b982de"
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.yahoo_symbol}}?range=1d&interval=1d",
        "options": {
          "timeout": 8000
        }
      },
      "name": "Yahoo Finance Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -544,
        1136
      ],
      "id": "208bc905-3992-47ec-89c6-af19d85a30d1",
      "continueOnFail": true,
      "notes": "Provider 3: Yahoo Finance (gratuito, sempre attivo)"
    },
    {
      "parameters": {
        "jsCode": "// Check if Yahoo returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst yahooResponse = $json;\n\nlet price = 0;\ntry {\n  price = yahooResponse.chart.result[0].meta.regularMarketPrice;\n} catch (e) {\n  // Yahoo API failed\n}\n\nif (price && price > 0) {\n  // Local classification\n  const name = holding.name.toLowerCase();\n  const instrumentType = holding.instrument_type;\n  \n  let asset_class = 'Unknown';\n  let sector = 'Unknown';\n  \n  if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n    asset_class = 'Commodity';\n    sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n  } else if (instrumentType === 'ETF') {\n    asset_class = 'Equity';\n    if (name.includes('dividend') || name.includes('aristocrat') || name.includes('div')) {\n      sector = 'Dividend';\n    } else if (name.includes('world') || name.includes('global')) {\n      sector = 'Global';\n    } else if (name.includes('u.s.') || name.includes('s&p')) {\n      sector = 'USA';\n    } else {\n      sector = 'Mixed';\n    }\n  } else if (instrumentType === 'Fondo') {\n    asset_class = 'Equity';\n    if (name.includes('biotech')) {\n      sector = 'Healthcare';\n    } else if (name.includes('robot') || name.includes('tech')) {\n      sector = 'Technology';\n    } else if (name.includes('dividend')) {\n      sector = 'Dividend';\n    } else {\n      sector = 'Active Fund';\n    }\n  }\n  \n  return [{\n    json: {\n      isin: holding.isin,\n      current_price: price,\n      price_source: 'YahooFinance',\n      asset_class: asset_class,\n      sector: sector,\n      APP_BASE_URL: holding.APP_BASE_URL,\n      WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "Yahoo Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        1136
      ],
      "id": "29085d12-aca0-4648-85e6-abb8aaad6607"
    },
    {
      "parameters": {
        "url": "=https://www.justetf.com/api/etfs/{{$json.justetf_isin}}/quote?locale=en&currency=EUR",
        "options": {
          "timeout": 8000
        }
      },
      "name": "JustETF Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -544,
        1344
      ],
      "id": "01a6dd29-3014-4138-b74e-190531b24cc3",
      "continueOnFail": true,
      "notes": "Provider 4: JustETF (gratuito, per ETF europei)"
    },
    {
      "parameters": {
        "jsCode": "// Check if JustETF returned valid price\nconst holding = $node['Preprocess Symbols'].json;\nconst justETFResponse = $json;\n\nlet price = 0;\ntry {\n  const data = typeof justETFResponse === 'string' ? JSON.parse(justETFResponse) : justETFResponse;\n  price = data.latestQuote?.raw || 0;\n} catch (e) {\n  // JustETF API failed\n}\n\nif (price && price > 0) {\n  // Local classification\n  const name = holding.name.toLowerCase();\n  const instrumentType = holding.instrument_type;\n  \n  let asset_class = 'Unknown';\n  let sector = 'Unknown';\n  \n  if (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n    asset_class = 'Commodity';\n    sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n  } else if (instrumentType === 'ETF') {\n    asset_class = 'Equity';\n    if (name.includes('dividend') || name.includes('aristocrat') || name.includes('div')) {\n      sector = 'Dividend';\n    } else if (name.includes('world') || name.includes('global')) {\n      sector = 'Global';\n    } else if (name.includes('u.s.') || name.includes('s&p')) {\n      sector = 'USA';\n    } else {\n      sector = 'Mixed';\n    }\n  } else if (instrumentType === 'Fondo') {\n    asset_class = 'Equity';\n    if (name.includes('biotech')) {\n      sector = 'Healthcare';\n    } else if (name.includes('robot') || name.includes('tech')) {\n      sector = 'Technology';\n    } else if (name.includes('dividend')) {\n      sector = 'Dividend';\n    } else {\n      sector = 'Active Fund';\n    }\n  }\n  \n  return [{\n    json: {\n      isin: holding.isin,\n      current_price: price,\n      price_source: 'JustETF',\n      asset_class: asset_class,\n      sector: sector,\n      APP_BASE_URL: holding.APP_BASE_URL,\n      WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "JustETF Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        1344
      ],
      "id": "a09d448d-f0b3-4093-bb34-e1e882296a73"
    },
    {
      "parameters": {
        "jsCode": "// All providers failed - prepare for LLM fallback\nconst holding = $node['Preprocess Symbols'].json;\n\n// Local classification as fallback\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend') || name.includes('aristocrat')) {\n    sector = 'Dividend';\n  } else if (name.includes('world') || name.includes('global')) {\n    sector = 'Global';\n  } else if (name.includes('u.s.') || name.includes('s&p')) {\n    sector = 'USA';\n  } else {\n    sector = 'Mixed';\n  }\n} else if (instrumentType === 'Fondo') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) {\n    sector = 'Healthcare';\n  } else if (name.includes('robot') || name.includes('tech')) {\n    sector = 'Technology';\n  } else if (name.includes('dividend')) {\n    sector = 'Dividend';\n  } else {\n    sector = 'Active Fund';\n  }\n}\n\nreturn [{\n  json: {\n    isin: holding.isin,\n    current_price: holding.current_price, // Keep existing price\n    price_source: 'Fallback',\n    asset_class: asset_class,\n    sector: sector,\n    APP_BASE_URL: holding.APP_BASE_URL,\n    WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n  }\n}];"
      },
      "name": "Fallback - Keep Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        1408
      ],
      "id": "9eb02480-90b1-4a82-b712-f30cd65e5377",
      "notes": "Se tutti i provider falliscono, mantiene prezzo esistente + classificazione locale"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        1056
      ],
      "id": "554084ff-b1a4-42e6-b791-e8afefcb249f",
      "webhookId": "cc8e4552-2a30-45e3-9a66-10228e2ad5d5",
      "notes": "Delay tra batch per evitare rate limiting"
    },
    {
      "parameters": {},
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        1824
      ],
      "id": "8402cb68-850f-4690-959f-2c8f8ed92cb0"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all enriched holdings (NO HMAC)\nconst items = $input.all();\n\n// Get config from first item\nconst firstItem = items[0].json;\nconst appBaseUrl = firstItem.APP_BASE_URL;\n\n// Extract enrichment data (remove config fields)\nconst holdings = items.map(item => {\n  const { APP_BASE_URL, WEBHOOK_SECRET, TWELVE_DATA_KEY, FMP_KEY, ...enrichment } = item.json;\n  return enrichment;\n});\n\nconst payload = {\n  workflow_id: 'portfolio_enrichment_v2.2',\n  timestamp: new Date().toISOString(),\n  holdings: holdings\n};\n\nconst payloadStr = JSON.stringify(payload);\n\nreturn [{\n  json: {\n    APP_BASE_URL: appBaseUrl,\n    payload: payload,\n    signature: 'HMAC_DISABLED',\n    payloadStr: payloadStr\n  }\n}];\n"
      },
      "name": "Aggregate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1568
      ],
      "id": "0b270add-2023-4a5c-8c68-c5552a4fccc5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portfolio.newwave-media.it/api/n8n/enrich.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Signature",
              "value": "={{$json.signature}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ETF-Portfolio-Manager/2.1; +https://portfolio.newwave-media.it)"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.payloadStr}}",
        "options": {}
      },
      "name": "Post Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -768,
        1568
      ],
      "id": "abb9bbb7-8c57-4dfa-ab18-3ba3862a8f7a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2112,
        1568
      ],
      "id": "dcc2af3f-2bab-4bca-8745-5badcaac2ff4",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Config Variables": {
      "main": [
        [
          {
            "node": "Get Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio": {
      "main": [
        [
          {
            "node": "Extract Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Holdings": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Aggregate & Sign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preprocess Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Symbols": {
      "main": [
        [
          {
            "node": "Yahoo Finance Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "JustETF Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TwelveData Price": {
      "main": [
        [
          {
            "node": "TWD Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWD Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Price": {
      "main": [
        [
          {
            "node": "FMP Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance Price": {
      "main": [
        [
          {
            "node": "Yahoo Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JustETF Price": {
      "main": [
        [
          {
            "node": "JustETF Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JustETF Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback - Keep Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback - Keep Existing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Sign": {
      "main": [
        [
          {
            "node": "Post Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cb1f56b-d731-4138-b578-bbfe7c616c1c",
  "meta": {
    "instanceId": "fe117d56aad4346ee596609bb8c3079d6edd34e383a675201472f524674346cc"
  },
  "id": "aZL4j7jRZ2NYxVoe",
  "tags": []
}