workflow/n8n-portfolio-enrichment-v1.json
{
  "name": "Portfolio Enrichment v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_BASE_URL}}/api/n8n/portfolio.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Signature",
              "value": "={{$json.signature}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "N8N Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate HMAC signature for GET request\nconst crypto = require('crypto');\nconst secret = $env.N8N_WEBHOOK_SECRET;\nconst payload = '{\"action\":\"get_portfolio\"}';\nconst hmac = crypto.createHmac('sha256', secret).update(payload).digest('hex');\n\nreturn {\n  signature: `sha256=${hmac}`\n};"
      },
      "name": "Generate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [670, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract holdings array from API response\nconst holdings = $input.first().json.holdings || [];\n\nreturn holdings.map(h => ({\n  json: h\n}));"
      },
      "name": "Extract Holdings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.ticker}}?range=1d&interval=1d",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Yahoo Finance API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [870, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse Yahoo Finance response and enrich holding\nconst holding = $input.first().json;\nconst yahooData = $input.last().json;\n\nlet enriched = {\n  isin: holding.isin,\n  current_price: holding.current_price // fallback to existing\n};\n\n// Parse Yahoo Finance data if available\nif (yahooData && yahooData.chart && yahooData.chart.result && yahooData.chart.result[0]) {\n  const result = yahooData.chart.result[0];\n  const price = result.meta?.regularMarketPrice;\n  \n  if (price && price > 0) {\n    enriched.current_price = price;\n  }\n}\n\n// Classify asset_class and sector\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\n// Commodity classification\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  enriched.asset_class = 'Commodity';\n  enriched.sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n}\n// Equity ETF classification\nelse if (instrumentType === 'ETF') {\n  enriched.asset_class = 'Equity';\n  \n  if (name.includes('dividend') || name.includes('aristocrat')) {\n    enriched.sector = 'Dividend';\n  } else if (name.includes('world') || name.includes('global')) {\n    enriched.sector = 'Global';\n  } else if (name.includes('u.s.') || name.includes('s&p')) {\n    enriched.sector = 'USA';\n  } else {\n    enriched.sector = 'Mixed';\n  }\n}\n// Active funds classification\nelse if (instrumentType === 'Fondo') {\n  enriched.asset_class = 'Equity';\n  \n  if (name.includes('biotech')) {\n    enriched.sector = 'Healthcare';\n  } else if (name.includes('robot') || name.includes('tech')) {\n    enriched.sector = 'Technology';\n  } else if (name.includes('dividend')) {\n    enriched.sector = 'Dividend';\n  } else {\n    enriched.sector = 'Active Fund';\n  }\n}\n\nreturn [{ json: enriched }];"
      },
      "name": "Enrich & Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1070, 300]
    },
    {
      "parameters": {
        "amount": 200,
        "unit": "milliseconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1270, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all enriched holdings\nconst items = $input.all();\nconst holdings = items.map(item => item.json);\n\nconst payload = {\n  workflow_id: 'portfolio_enrichment_v1',\n  timestamp: new Date().toISOString(),\n  holdings: holdings\n};\n\n// Generate HMAC signature\nconst crypto = require('crypto');\nconst secret = $env.N8N_WEBHOOK_SECRET;\nconst payloadStr = JSON.stringify(payload);\nconst hmac = crypto.createHmac('sha256', secret).update(payloadStr).digest('hex');\n\nreturn [{\n  json: {\n    payload: payload,\n    signature: `sha256=${hmac}`,\n    payloadStr: payloadStr\n  }\n}];"
      },
      "name": "Aggregate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1670, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_BASE_URL}}/api/n8n/enrich.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Signature",
              "value": "={{$json.signature}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.payloadStr}}",
        "options": {}
      },
      "name": "Post Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1870, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HMAC": {
      "main": [
        [
          {
            "node": "Get Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio": {
      "main": [
        [
          {
            "node": "Extract Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Holdings": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Yahoo Finance API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate & Sign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance API": {
      "main": [
        [
          {
            "node": "Enrich & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich & Classify": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Sign": {
      "main": [
        [
          {
            "node": "Post Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T14:00:00.000Z",
  "versionId": "1"
}
