workflow/n8n-portfolio-enrichment-v1-simple.json
{
  "name": "Portfolio Enrichment v1 (Simple)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "APP_BASE_URL",
              "value": "https://portfolio.newwave-media.it",
              "type": "string"
            },
            {
              "id": "2",
              "name": "WEBHOOK_SECRET",
              "value": "YOUR_SECRET_HERE_CHANGE_ME",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Config Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300],
      "notes": "IMPORTANTE: Cambia WEBHOOK_SECRET con il tuo secret (stesso valore in .env PHP)"
    },
    {
      "parameters": {
        "url": "={{$json.APP_BASE_URL}}/api/n8n/portfolio.php",
        "options": {}
      },
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract holdings array from API response\nconst holdings = $input.first().json.holdings || [];\nconst config = $input.all()[0].json; // Get config from first node\n\nreturn holdings.map(h => ({\n  json: {\n    ...h,\n    APP_BASE_URL: config.APP_BASE_URL,\n    WEBHOOK_SECRET: config.WEBHOOK_SECRET\n  }\n}));"
      },
      "name": "Extract Holdings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.ticker}}?range=1d&interval=1d",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Yahoo Finance API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse Yahoo Finance response and enrich holding\nconst holding = $input.first().json;\nconst yahooData = $input.last().json;\n\nlet enriched = {\n  isin: holding.isin,\n  current_price: holding.current_price,\n  APP_BASE_URL: holding.APP_BASE_URL,\n  WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n};\n\nif (yahooData && yahooData.chart && yahooData.chart.result && yahooData.chart.result[0]) {\n  const result = yahooData.chart.result[0];\n  const price = result.meta?.regularMarketPrice;\n  \n  if (price && price > 0) {\n    enriched.current_price = price;\n  }\n}\n\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  enriched.asset_class = 'Commodity';\n  enriched.sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n}\nelse if (instrumentType === 'ETF') {\n  enriched.asset_class = 'Equity';\n  \n  if (name.includes('dividend') || name.includes('aristocrat')) {\n    enriched.sector = 'Dividend';\n  } else if (name.includes('world') || name.includes('global')) {\n    enriched.sector = 'Global';\n  } else if (name.includes('u.s.') || name.includes('s&p')) {\n    enriched.sector = 'USA';\n  } else {\n    enriched.sector = 'Mixed';\n  }\n}\nelse if (instrumentType === 'Fondo') {\n  enriched.asset_class = 'Equity';\n  \n  if (name.includes('biotech')) {\n    enriched.sector = 'Healthcare';\n  } else if (name.includes('robot') || name.includes('tech')) {\n    enriched.sector = 'Technology';\n  } else if (name.includes('dividend')) {\n    enriched.sector = 'Dividend';\n  } else {\n    enriched.sector = 'Active Fund';\n  }\n}\n\nreturn [{ json: enriched }];"
      },
      "name": "Enrich & Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "amount": 200,
        "unit": "milliseconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all enriched holdings\nconst items = $input.all();\n\n// Get config from first item\nconst firstItem = items[0].json;\nconst appBaseUrl = firstItem.APP_BASE_URL;\nconst webhookSecret = firstItem.WEBHOOK_SECRET;\n\n// Extract only enrichment data (remove config fields)\nconst holdings = items.map(item => {\n  const { APP_BASE_URL, WEBHOOK_SECRET, ...enrichment } = item.json;\n  return enrichment;\n});\n\nconst payload = {\n  workflow_id: 'portfolio_enrichment_v1',\n  timestamp: new Date().toISOString(),\n  holdings: holdings\n};\n\nconst crypto = require('crypto');\nconst payloadStr = JSON.stringify(payload);\nconst hmac = crypto.createHmac('sha256', webhookSecret).update(payloadStr).digest('hex');\n\nreturn [{\n  json: {\n    APP_BASE_URL: appBaseUrl,\n    payload: payload,\n    signature: `sha256=${hmac}`,\n    payloadStr: payloadStr\n  }\n}];"
      },
      "name": "Aggregate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.APP_BASE_URL}}/api/n8n/enrich.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Signature",
              "value": "={{$json.signature}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.payloadStr}}",
        "options": {}
      },
      "name": "Post Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Variables": {
      "main": [
        [
          {
            "node": "Get Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio": {
      "main": [
        [
          {
            "node": "Extract Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Holdings": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Yahoo Finance API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate & Sign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance API": {
      "main": [
        [
          {
            "node": "Enrich & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich & Classify": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Sign": {
      "main": [
        [
          {
            "node": "Post Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T15:00:00.000Z",
  "versionId": "1.1"
}
