workflow/Portfolio Enrichment v3.0 – Multi-Provider + Dividends.json
{
  "name": "Portfolio Enrichment v3.0 – Multi-Provider + Dividends",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "APP_BASE_URL",
              "stringValue": "https://portfolio.newwave-media.it"
            },
            {
              "name": "WEBHOOK_SECRET",
              "stringValue": "a1b2c3d4e5f7349012345678901234567890abcdef1234567890abcdef123456"
            },
            {
              "name": "TWELVE_DATA_KEY"
            },
            {
              "name": "FMP_KEY"
            }
          ]
        },
        "options": {}
      },
      "name": "Config Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        944
      ],
      "id": "e4c46d2b-09dd-4f5a-95df-5002b74756bd",
      "notes": "IMPORTANTE: Configura WEBHOOK_SECRET (obbligatorio). API keys opzionali (lascia vuoto se non hai)"
    },
    {
      "parameters": {
        "url": "={{$json.APP_BASE_URL}}/api/n8n/portfolio.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ETF-Portfolio-Manager/2.1; +https://portfolio.newwave-media.it"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        944
      ],
      "id": "46f0c7ec-cff7-4fc2-be90-95a04f4273e6",
      "notes": "Recupera holdings da PHP (HMAC opzionale)"
    },
    {
      "parameters": {
        "jsCode": "// Extract holdings array from API response\nconst holdings = $input.first().json.holdings || [];\nconst config = $input.all()[0].json;\n\nreturn holdings.map(h => ({\n  json: {\n    ...h,\n    APP_BASE_URL: config.APP_BASE_URL,\n    WEBHOOK_SECRET: config.WEBHOOK_SECRET,\n    TWELVE_DATA_KEY: config.TWELVE_DATA_KEY,\n    FMP_KEY: config.FMP_KEY\n  }\n}));"
      },
      "name": "Extract Holdings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        944
      ],
      "id": "3968ebd7-d299-4886-817d-8e15e98f6bcb"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -656,
        944
      ],
      "id": "3c6ba4ab-1973-49f1-a350-3a86fc3336e6",
      "notes": "Processa 3 holdings per volta per evitare rate limiting"
    },
    {
      "parameters": {
        "jsCode": "// Preprocess: normalize symbols for various providers\nconst h = $json;\n\n// Normalize ticker for different providers\nconst ticker = h.ticker || '';\nconst twdSymbol = ticker.replace('.FRA', '.MI').replace('.DE', '.MI');\nconst fmpSymbol = ticker.replace('.MI', '.DE').replace('.FRA', '.DE');\nconst yahooSymbol = ticker;\n\nreturn [{\n  json: {\n    isin: h.isin,\n    ticker: ticker,\n    name: h.name,\n    quantity: h.quantity,\n    avg_price: h.avg_price,\n    current_price: h.current_price,\n    instrument_type: h.instrument_type,\n    asset_class: h.asset_class,\n    sector: h.sector,\n    // Provider-specific symbols\n    twd_symbol: twdSymbol,\n    fmp_symbol: fmpSymbol,\n    yahoo_symbol: yahooSymbol,\n    justetf_isin: h.isin,\n    // Config\n    APP_BASE_URL: h.APP_BASE_URL,\n    WEBHOOK_SECRET: h.WEBHOOK_SECRET,\n    TWELVE_DATA_KEY: h.TWELVE_DATA_KEY,\n    FMP_KEY: h.FMP_KEY\n  }\n}];"
      },
      "name": "Preprocess Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        592
      ],
      "id": "eb9b9305-41ab-4dce-b88a-f123cd8bd855"
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.yahoo_symbol}}?range=5y&interval=1d&events=div&includeAdjustedClose=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "name": "Yahoo Finance Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        480
      ],
      "id": "622aac05-2077-491e-8044-53be23d470de",
      "continueOnFail": true,
      "notes": "Provider 3: Yahoo Finance (gratuito, sempre attivo)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Yahoo Finance v8 chart response - COMPLETE DATA EXTRACTION\nconst holding = $node['Preprocess Symbols'].json;\nconst yahooResponse = $json;\n\nlet meta = {};\nlet dividends = {};\nlet priceHistory = {};\n\ntry {\n  const result = yahooResponse.chart.result[0];\n  meta = result.meta || {};\n  dividends = result.events?.dividends || {};\n  priceHistory = {\n    timestamps: result.timestamp || [],\n    quotes: result.indicators?.quote?.[0] || {}\n  };\n} catch (e) {\n  return []; // Trigger fallback\n}\n\n// Get current price\nconst currentPrice = meta.regularMarketPrice || 0;\n\nif (!currentPrice || currentPrice === 0) {\n  return [];\n}\n\n// Calculate dividend yield from historical dividends (last 12 months)\nlet annualDividend = 0;\nconst today = Date.now() / 1000; // Unix timestamp\nconst oneYearAgo = today - (365 * 24 * 60 * 60);\n\nObject.keys(dividends).forEach(timestamp => {\n  if (parseInt(timestamp) >= oneYearAgo) {\n    annualDividend += dividends[timestamp].amount;\n  }\n});\n\nconst dividendYield = currentPrice > 0 ? (annualDividend / currentPrice) * 100 : 0;\n\n// Calculate price change percentage (YTD, 1M, 3M, 1Y)\nconst closePrices = priceHistory.quotes.close || [];\nconst timestamps = priceHistory.timestamps || [];\n\nlet changeData = {\n  ytd_change: 0,\n  one_month_change: 0,\n  three_month_change: 0,\n  one_year_change: 0\n};\n\nif (closePrices.length > 0 && timestamps.length > 0) {\n  const latestPrice = closePrices[closePrices.length - 1];\n  \n  // YTD (from Jan 1st this year)\n  const yearStart = new Date(new Date().getFullYear(), 0, 1).getTime() / 1000;\n  const ytdIndex = timestamps.findIndex(t => t >= yearStart);\n  if (ytdIndex !== -1) {\n    const ytdPrice = closePrices[ytdIndex];\n    changeData.ytd_change = ((latestPrice - ytdPrice) / ytdPrice * 100).toFixed(2);\n  }\n  \n  // 1 Month ago\n  const oneMonthAgo = today - (30 * 24 * 60 * 60);\n  const monthIndex = timestamps.findIndex(t => t >= oneMonthAgo);\n  if (monthIndex !== -1) {\n    const monthPrice = closePrices[monthIndex];\n    changeData.one_month_change = ((latestPrice - monthPrice) / monthPrice * 100).toFixed(2);\n  }\n  \n  // 3 Months ago\n  const threeMonthsAgo = today - (90 * 24 * 60 * 60);\n  const threeMonthIndex = timestamps.findIndex(t => t >= threeMonthsAgo);\n  if (threeMonthIndex !== -1) {\n    const threeMonthPrice = closePrices[threeMonthIndex];\n    changeData.three_month_change = ((latestPrice - threeMonthPrice) / threeMonthPrice * 100).toFixed(2);\n  }\n  \n  // 1 Year ago\n  const yearIndex = timestamps.findIndex(t => t >= oneYearAgo);\n  if (yearIndex !== -1) {\n    const yearPrice = closePrices[yearIndex];\n    changeData.one_year_change = ((latestPrice - yearPrice) / yearPrice * 100).toFixed(2);\n  }\n}\n\n// Classification\nconst name = holding.name.toLowerCase();\nconst instrumentType = meta.instrumentType || holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend') || name.includes('aristocrat')) {\n    sector = 'Dividend';\n  } else if (name.includes('world') || name.includes('global')) {\n    sector = 'Global';\n  } else if (name.includes('u.s.') || name.includes('s&p')) {\n    sector = 'USA';\n  } else if (name.includes('developed')) {\n    sector = 'Developed Markets';\n  } else {\n    sector = 'Mixed';\n  }\n} else if (instrumentType === 'Fondo' || instrumentType === 'MUTUALFUND') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) sector = 'Healthcare';\n  else if (name.includes('robot') || name.includes('tech')) sector = 'Technology';\n  else if (name.includes('dividend')) sector = 'Dividend';\n  else sector = 'Active Fund';\n}\n\n// Count dividends in last 12 months for frequency detection\nconst dividendCount = Object.keys(dividends).filter(ts => parseInt(ts) >= oneYearAgo).length;\nlet dividendFrequency = 'None';\nif (dividendCount >= 4) dividendFrequency = 'Quarterly';\nelse if (dividendCount >= 2) dividendFrequency = 'Semi-Annual';\nelse if (dividendCount === 1) dividendFrequency = 'Annual';\n\nconst output = {\n  isin: holding.isin,\n  ticker: holding.ticker,\n  name: meta.longName || holding.name,\n  short_name: meta.shortName || '',\n  current_price: currentPrice,\n  currency: meta.currency || 'EUR',\n  price_source: 'YahooFinance_v8',\n  \n  // Classification\n  asset_class: asset_class,\n  sector: sector,\n  instrument_type: instrumentType,\n  exchange: meta.exchangeName || '',\n  \n  // Financial metrics\n  dividend_yield: parseFloat(dividendYield.toFixed(2)),\n  annual_dividend: parseFloat(annualDividend.toFixed(4)),\n  dividend_frequency: dividendFrequency,\n  \n  // Price ranges\n  fifty_two_week_high: meta.fiftyTwoWeekHigh || 0,\n  fifty_two_week_low: meta.fiftyTwoWeekLow || 0,\n  day_high: meta.regularMarketDayHigh || 0,\n  day_low: meta.regularMarketDayLow || 0,\n  \n  // Performance\n  ytd_change_percent: parseFloat(changeData.ytd_change) || 0,\n  one_month_change_percent: parseFloat(changeData.one_month_change) || 0,\n  three_month_change_percent: parseFloat(changeData.three_month_change) || 0,\n  one_year_change_percent: parseFloat(changeData.one_year_change) || 0,\n  \n  // Volume & market\n  volume: meta.regularMarketVolume || 0,\n  previous_close: meta.chartPreviousClose || 0,\n  \n  // Metadata\n  has_dividends: Object.keys(dividends).length > 0,\n  total_dividends_5y: Object.keys(dividends).length,\n  first_trade_date: meta.firstTradeDate || 0,\n  \n  APP_BASE_URL: holding.APP_BASE_URL,\n  WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n};\n\nreturn [{ json: output }];\n"
      },
      "name": "Yahoo Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        480
      ],
      "id": "11921e85-28f1-4052-ae59-4a6a9abf2e69"
    },
    {
      "parameters": {
        "url": "=https://www.justetf.com/api/etfs/{{$json.justetf_isin}}/quote?locale=en&currency=EUR",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\""
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "name": "JustETF Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        720
      ],
      "id": "8ae934a7-41f9-47d2-9797-d639a18ccc17",
      "continueOnFail": true,
      "notes": "Provider 4: JustETF (gratuito, per ETF europei)"
    },
    {
      "parameters": {
        "jsCode": "// Parse JustETF response - ENHANCED & COMPLETE\nconst holding = $node['Preprocess Symbols'].json;\nconst justETFResponse = $json;\n\nlet price = 0;\nlet fiftyTwoWeekHigh = 0;\nlet fiftyTwoWeekLow = 0;\nlet previousClose = 0;\nlet dayChange = 0;\n\ntry {\n  const data = typeof justETFResponse === 'string' ? JSON.parse(justETFResponse) : justETFResponse;\n  price = data.latestQuote?.raw || 0;\n  fiftyTwoWeekHigh = data.quoteLowHigh?.high?.raw || 0;\n  fiftyTwoWeekLow = data.quoteLowHigh?.low?.raw || 0;\n  previousClose = data.previousQuote?.raw || 0;\n  dayChange = data.dtdPrc?.raw || 0;\n} catch (e) {\n  return [];\n}\n\nif (!price || price === 0) {\n  return [];\n}\n\n// Local classification\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend')) sector = 'Dividend';\n  else if (name.includes('world') || name.includes('global')) sector = 'Global';\n  else if (name.includes('u.s.') || name.includes('s&p')) sector = 'USA';\n  else if (name.includes('developed')) sector = 'Developed Markets';\n  else sector = 'Mixed';\n} else if (instrumentType === 'Fondo' || instrumentType === 'MUTUALFUND') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) sector = 'Healthcare';\n  else if (name.includes('robot') || name.includes('tech')) sector = 'Technology';\n  else if (name.includes('dividend')) sector = 'Dividend';\n  else sector = 'Active Fund';\n}\n\nreturn [{\n  json: {\n    isin: holding.isin,\n    ticker: holding.ticker,\n    name: holding.name,\n    short_name: '',\n    current_price: price,\n    currency: 'EUR',\n    price_source: 'JustETF',\n    \n    // Classification\n    asset_class: asset_class,\n    sector: sector,\n    instrument_type: instrumentType,\n    exchange: '',\n    \n    // Financial metrics\n    dividend_yield: 0,\n    annual_dividend: 0,\n    dividend_frequency: 'None',\n    \n    // Price ranges (from JustETF)\n    fifty_two_week_high: fiftyTwoWeekHigh,\n    fifty_two_week_low: fiftyTwoWeekLow,\n    day_high: 0,\n    day_low: 0,\n    \n    // Performance\n    ytd_change_percent: dayChange, // Use day change as best approximation\n    one_month_change_percent: 0,\n    three_month_change_percent: 0,\n    one_year_change_percent: 0,\n    \n    // Volume & market\n    volume: 0,\n    previous_close: previousClose,\n    \n    // Metadata\n    has_dividends: false,\n    total_dividends_5y: 0,\n    first_trade_date: 0,\n    \n    APP_BASE_URL: holding.APP_BASE_URL,\n    WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n  }\n}];\n"
      },
      "name": "JustETF Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        720
      ],
      "id": "dda404cb-20fd-4c7d-a887-80bf62c75823"
    },
    {
      "parameters": {
        "jsCode": "// All providers failed - keep existing price + add new fields as 0\nconst holding = $node['Preprocess Symbols'].json;\n\n// Local classification\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend')) sector = 'Dividend';\n  else if (name.includes('world') || name.includes('global')) sector = 'Global';\n  else if (name.includes('u.s.') || name.includes('s&p')) sector = 'USA';\n  else if (name.includes('developed')) sector = 'Developed Markets';\n  else sector = 'Mixed';\n} else if (instrumentType === 'Fondo' || instrumentType === 'MUTUALFUND') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) sector = 'Healthcare';\n  else if (name.includes('robot') || name.includes('tech')) sector = 'Technology';\n  else if (name.includes('dividend')) sector = 'Dividend';\n  else sector = 'Active Fund';\n}\n\nreturn [{\n  json: {\n    isin: holding.isin,\n    ticker: holding.ticker,\n    name: holding.name,\n    short_name: '',\n    current_price: holding.current_price,\n    currency: holding.currency || 'EUR',\n    price_source: 'Fallback',\n    \n    // Classification\n    asset_class: asset_class,\n    sector: sector,\n    instrument_type: instrumentType,\n    exchange: '',\n    \n    // Financial metrics (set to 0 - no data available)\n    dividend_yield: 0,\n    annual_dividend: 0,\n    dividend_frequency: 'None',\n    \n    // Price ranges\n    fifty_two_week_high: 0,\n    fifty_two_week_low: 0,\n    day_high: 0,\n    day_low: 0,\n    \n    // Performance (all 0 - no historical data)\n    ytd_change_percent: 0,\n    one_month_change_percent: 0,\n    three_month_change_percent: 0,\n    one_year_change_percent: 0,\n    \n    // Volume & market\n    volume: 0,\n    previous_close: 0,\n    \n    // Metadata\n    has_dividends: false,\n    total_dividends_5y: 0,\n    first_trade_date: 0,\n    \n    APP_BASE_URL: holding.APP_BASE_URL,\n    WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n  }\n}];\n"
      },
      "name": "Fallback - Keep Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        816
      ],
      "id": "00cc6430-5eaf-4026-bc61-3291881aa225",
      "notes": "Se tutti i provider falliscono, mantiene prezzo esistente + classificazione locale"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        560
      ],
      "id": "5b760eac-0c08-40d6-88b1-920d2867ecb2",
      "webhookId": "cc8e4552-2a30-45e3-9a66-10228e2ad5d5",
      "notes": "Delay tra batch per evitare rate limiting"
    },
    {
      "parameters": {},
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        1056
      ],
      "id": "a9fc6144-db9c-482d-b2cc-daca6b78eafe"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all enriched holdings - Pass object not string\nconst items = $input.all();\n\n// Get config from first item\nconst firstItem = items[0].json;\nconst appBaseUrl = firstItem.APP_BASE_URL;\n\n// Extract enrichment data (remove config fields)\nconst holdings = items.map(item => {\n  const { APP_BASE_URL, WEBHOOK_SECRET, TWELVE_DATA_KEY, FMP_KEY, ...enrichment } = item.json;\n  return enrichment;\n});\n\nconst payload = {\n  workflow_id: 'portfolio_enrichment_v3.1',\n  timestamp: new Date().toISOString(),\n  holdings: holdings\n};\n\nreturn [{\n  json: {\n    APP_BASE_URL: appBaseUrl,\n    payload: payload,  // Oggetto, non stringa\n    signature: 'HMAC_DISABLED'\n  }\n}];\n"
      },
      "name": "Aggregate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        944
      ],
      "id": "0abcf404-c6bd-433d-9b23-2234ab98b86b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portfolio.newwave-media.it/api/n8n/enrich.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\""
            },
            {
              "name": "X-Webhook-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "name": "Post Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        944
      ],
      "id": "4a31af76-0bb7-4e4e-b229-79f4695b9627"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "30 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1552,
        944
      ],
      "id": "ed1e6389-c02a-4b8c-abda-586f00e9b9f6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        288
      ],
      "id": "ed3c2cd5-ab15-4d41-8c44-2e3baec4187b",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {
    "Aggregate & Sign": [
      {
        "json": {
          "payload": {
            "workflow_id": "portfolio_enrichment_v2.2",
            "timestamp": "2025-11-26T21:17:18.786Z",
            "holdings": [
              {
                "isin": "IE00B579F325",
                "ticker": "SGLD.MI",
                "name": "Invesco Physical Gold ETC",
                "short_name": "INVESCO PHYSICAL GOLD ETC",
                "current_price": 345.62,
                "currency": "EUR",
                "price_source": "YahooFinance_v8",
                "asset_class": "Commodity",
                "sector": "Gold",
                "instrument_type": "ETF",
                "exchange": "MIL",
                "dividend_yield": 0,
                "annual_dividend": 0,
                "dividend_frequency": "None",
                "fifty_two_week_high": 359.67,
                "fifty_two_week_low": 239.26,
                "day_high": 347.21,
                "day_low": 343.93,
                "ytd_change_percent": 38.49,
                "one_month_change_percent": 5.69,
                "three_month_change_percent": 21.87,
                "one_year_change_percent": 43.45,
                "volume": 155393,
                "previous_close": 147.27,
                "has_dividends": false,
                "total_dividends_5y": 0,
                "first_trade_date": 1417161600
              },
              {
                "isin": "IE00B8GKDB10",
                "ticker": "VHYL.MI",
                "name": "Vanguard FTSE All-World High Dividend Yield UCITS ETF USD Distributing",
                "short_name": "VANGUARD FTSE ALLWLD HIDIV YLD ",
                "current_price": 68.8,
                "currency": "EUR",
                "price_source": "YahooFinance_v8",
                "asset_class": "Equity",
                "sector": "Global",
                "instrument_type": "ETF",
                "exchange": "MIL",
                "dividend_yield": 2.91,
                "annual_dividend": 2.0016,
                "dividend_frequency": "Quarterly",
                "fifty_two_week_high": 69.5,
                "fifty_two_week_low": 55.76,
                "day_high": 68.84,
                "day_low": 68.4,
                "ytd_change_percent": 6.11,
                "one_month_change_percent": 1,
                "three_month_change_percent": 4.16,
                "one_year_change_percent": 4.5,
                "volume": 28686,
                "previous_close": 45.955,
                "has_dividends": true,
                "total_dividends_5y": 20,
                "first_trade_date": 1547798400
              },
              {
                "isin": "NL0011683594",
                "ticker": "TDIV.MI",
                "name": "VanEck Morningstar Developed Markets Dividend Leaders UCITS ETF",
                "short_name": "VanEck Morningstar Developed Ma",
                "current_price": 46.71,
                "currency": "EUR",
                "price_source": "YahooFinance_v8",
                "asset_class": "Equity",
                "sector": "Mixed",
                "instrument_type": "ETF",
                "exchange": "MIL",
                "dividend_yield": 3.83,
                "annual_dividend": 1.79,
                "dividend_frequency": "Quarterly",
                "fifty_two_week_high": 46.98,
                "fifty_two_week_low": 36.795,
                "day_high": 46.76,
                "day_low": 46.375,
                "ytd_change_percent": 12.72,
                "one_month_change_percent": 3.6,
                "three_month_change_percent": 5.73,
                "one_year_change_percent": 15.19,
                "volume": 48510,
                "previous_close": 25.725,
                "has_dividends": true,
                "total_dividends_5y": 20,
                "first_trade_date": 1556002800
              },
              {
                "isin": "NL0011683594",
                "ticker": "TDIV.MI",
                "name": "VanEck Morningstar Developed Markets Dividend Leaders UCITS ETF",
                "short_name": "VanEck Morningstar Developed Ma",
                "current_price": 46.71,
                "currency": "EUR",
                "price_source": "YahooFinance_v8",
                "asset_class": "Equity",
                "sector": "Mixed",
                "instrument_type": "ETF",
                "exchange": "MIL",
                "dividend_yield": 3.83,
                "annual_dividend": 1.79,
                "dividend_frequency": "Quarterly",
                "fifty_two_week_high": 46.98,
                "fifty_two_week_low": 36.795,
                "day_high": 46.76,
                "day_low": 46.375,
                "ytd_change_percent": 12.72,
                "one_month_change_percent": 3.6,
                "three_month_change_percent": 5.73,
                "one_year_change_percent": 15.19,
                "volume": 48510,
                "previous_close": 25.725,
                "has_dividends": true,
                "total_dividends_5y": 20,
                "first_trade_date": 1556002800
              }
            ]
          },
          "signature": "HMAC_DISABLED",
          "payloadStr": "{\"workflow_id\":\"portfolio_enrichment_v2.2\",\"timestamp\":\"2025-11-26T21:17:18.786Z\",\"holdings\":[{\"isin\":\"IE00B579F325\",\"ticker\":\"SGLD.MI\",\"name\":\"Invesco Physical Gold ETC\",\"short_name\":\"INVESCO PHYSICAL GOLD ETC\",\"current_price\":345.62,\"currency\":\"EUR\",\"price_source\":\"YahooFinance_v8\",\"asset_class\":\"Commodity\",\"sector\":\"Gold\",\"instrument_type\":\"ETF\",\"exchange\":\"MIL\",\"dividend_yield\":0,\"annual_dividend\":0,\"dividend_frequency\":\"None\",\"fifty_two_week_high\":359.67,\"fifty_two_week_low\":239.26,\"day_high\":347.21,\"day_low\":343.93,\"ytd_change_percent\":38.49,\"one_month_change_percent\":5.69,\"three_month_change_percent\":21.87,\"one_year_change_percent\":43.45,\"volume\":155393,\"previous_close\":147.27,\"has_dividends\":false,\"total_dividends_5y\":0,\"first_trade_date\":1417161600},{\"isin\":\"IE00B8GKDB10\",\"ticker\":\"VHYL.MI\",\"name\":\"Vanguard FTSE All-World High Dividend Yield UCITS ETF USD Distributing\",\"short_name\":\"VANGUARD FTSE ALLWLD HIDIV YLD \",\"current_price\":68.8,\"currency\":\"EUR\",\"price_source\":\"YahooFinance_v8\",\"asset_class\":\"Equity\",\"sector\":\"Global\",\"instrument_type\":\"ETF\",\"exchange\":\"MIL\",\"dividend_yield\":2.91,\"annual_dividend\":2.0016,\"dividend_frequency\":\"Quarterly\",\"fifty_two_week_high\":69.5,\"fifty_two_week_low\":55.76,\"day_high\":68.84,\"day_low\":68.4,\"ytd_change_percent\":6.11,\"one_month_change_percent\":1,\"three_month_change_percent\":4.16,\"one_year_change_percent\":4.5,\"volume\":28686,\"previous_close\":45.955,\"has_dividends\":true,\"total_dividends_5y\":20,\"first_trade_date\":1547798400},{\"isin\":\"NL0011683594\",\"ticker\":\"TDIV.MI\",\"name\":\"VanEck Morningstar Developed Markets Dividend Leaders UCITS ETF\",\"short_name\":\"VanEck Morningstar Developed Ma\",\"current_price\":46.71,\"currency\":\"EUR\",\"price_source\":\"YahooFinance_v8\",\"asset_class\":\"Equity\",\"sector\":\"Mixed\",\"instrument_type\":\"ETF\",\"exchange\":\"MIL\",\"dividend_yield\":3.83,\"annual_dividend\":1.79,\"dividend_frequency\":\"Quarterly\",\"fifty_two_week_high\":46.98,\"fifty_two_week_low\":36.795,\"day_high\":46.76,\"day_low\":46.375,\"ytd_change_percent\":12.72,\"one_month_change_percent\":3.6,\"three_month_change_percent\":5.73,\"one_year_change_percent\":15.19,\"volume\":48510,\"previous_close\":25.725,\"has_dividends\":true,\"total_dividends_5y\":20,\"first_trade_date\":1556002800},{\"isin\":\"NL0011683594\",\"ticker\":\"TDIV.MI\",\"name\":\"VanEck Morningstar Developed Markets Dividend Leaders UCITS ETF\",\"short_name\":\"VanEck Morningstar Developed Ma\",\"current_price\":46.71,\"currency\":\"EUR\",\"price_source\":\"YahooFinance_v8\",\"asset_class\":\"Equity\",\"sector\":\"Mixed\",\"instrument_type\":\"ETF\",\"exchange\":\"MIL\",\"dividend_yield\":3.83,\"annual_dividend\":1.79,\"dividend_frequency\":\"Quarterly\",\"fifty_two_week_high\":46.98,\"fifty_two_week_low\":36.795,\"day_high\":46.76,\"day_low\":46.375,\"ytd_change_percent\":12.72,\"one_month_change_percent\":3.6,\"three_month_change_percent\":5.73,\"one_year_change_percent\":15.19,\"volume\":48510,\"previous_close\":25.725,\"has_dividends\":true,\"total_dividends_5y\":20,\"first_trade_date\":1556002800}]}"
        }
      }
    ]
  },
  "connections": {
    "Config Variables": {
      "main": [
        [
          {
            "node": "Get Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio": {
      "main": [
        [
          {
            "node": "Extract Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Holdings": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Aggregate & Sign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preprocess Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Symbols": {
      "main": [
        [
          {
            "node": "Yahoo Finance Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "JustETF Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance Price": {
      "main": [
        [
          {
            "node": "Yahoo Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JustETF Price": {
      "main": [
        [
          {
            "node": "JustETF Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JustETF Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback - Keep Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback - Keep Existing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Sign": {
      "main": [
        [
          {
            "node": "Post Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14b276bd-2ec1-4a33-bcd0-5f12a3e1ea4e",
  "meta": {
    "instanceId": "fe117d56aad4346ee596609bb8c3079d6edd34e383a675201472f524674346cc"
  },
  "id": "ZViUqqBUZBGc1xnB",
  "tags": []
}