workflow/Portfolio Enrichment v3.0 + analisi tecnica.json
{
  "name": "Portfolio Enrichment v3.0 + analisi tecnica",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "APP_BASE_URL",
              "stringValue": "https://portfolio.newwave-media.it"
            },
            {
              "name": "WEBHOOK_SECRET",
              "stringValue": "a1b2c3d4e5f7349012345678901234567890abcdef1234567890abcdef123456"
            }
          ]
        },
        "options": {}
      },
      "name": "Config Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        1680
      ],
      "id": "e3af7a36-0638-4e27-862a-a4f519cac6a9",
      "notes": "IMPORTANTE: Configura WEBHOOK_SECRET (obbligatorio). API keys opzionali (lascia vuoto se non hai)"
    },
    {
      "parameters": {
        "url": "={{$json.APP_BASE_URL}}/api/n8n/portfolio.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ETF-Portfolio-Manager/2.1; +https://portfolio.newwave-media.it"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        1680
      ],
      "id": "a3512b08-297e-4ec6-a542-c225901ff45d",
      "notes": "Recupera holdings da PHP (HMAC opzionale)"
    },
    {
      "parameters": {
        "jsCode": "// Extract holdings array from API response\nconst holdings = $input.first().json.holdings || [];\nconst config = $input.all()[0].json;\n\nreturn holdings.map(h => ({\n  json: {\n    ...h,\n    APP_BASE_URL: config.APP_BASE_URL,\n    WEBHOOK_SECRET: config.WEBHOOK_SECRET,\n  }\n}));"
      },
      "name": "Extract Holdings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        1680
      ],
      "id": "fdc374e1-b5a3-45d4-bc14-b75b2ae8595e"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -656,
        1680
      ],
      "id": "5ca475ab-8f70-4fe6-85f6-c5de6984fe53",
      "notes": "Processa 3 holdings per volta per evitare rate limiting"
    },
    {
      "parameters": {
        "jsCode": "// Preprocess: normalize symbols for various providers\nconst h = $json;\n\n// Normalize ticker for different providers\nconst ticker = h.ticker || '';\nconst yahooSymbol = ticker;\n\nreturn [{\n  json: {\n    portfolio_id: h.portfolio_id || 1,\n    isin: h.isin,\n    ticker: ticker,\n    name: h.name,\n    quantity: h.quantity,\n    avg_price: h.avg_price,\n    current_price: h.current_price,\n    instrument_type: h.instrument_type,\n    asset_class: h.asset_class,\n    sector: h.sector,\n    // Provider-specific symbols\n    yahoo_symbol: yahooSymbol,\n    justetf_isin: h.isin,\n    // Config\n    APP_BASE_URL: h.APP_BASE_URL,\n    WEBHOOK_SECRET: h.WEBHOOK_SECRET,\n  }\n}];"
      },
      "name": "Preprocess Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1296
      ],
      "id": "4947b4ba-1dfc-4fc8-a21d-8031591850c6"
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.yahoo_symbol}}?range=5y&interval=1d&events=div&includeAdjustedClose=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "name": "Yahoo Finance Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        1296
      ],
      "id": "b13f5872-7b03-4eca-9bc2-cb3b59a49696",
      "continueOnFail": true,
      "notes": "Provider 3: Yahoo Finance (gratuito, sempre attivo)"
    },
    {
      "parameters": {
        "url": "=https://www.justetf.com/api/etfs/{{$json.justetf_isin}}/quote?locale=en&currency=EUR",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\""
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "name": "JustETF Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        1488
      ],
      "id": "314c7fe6-8c09-4230-8a57-1052825e67bc",
      "continueOnFail": true,
      "notes": "Provider 4: JustETF (gratuito, per ETF europei)"
    },
    {
      "parameters": {
        "jsCode": "// All providers failed - keep existing price + add new fields as 0\nconst holding = $node['Preprocess Symbols'].json;\n\n// Local classification\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend')) sector = 'Dividend';\n  else if (name.includes('world') || name.includes('global')) sector = 'Global';\n  else if (name.includes('u.s.') || name.includes('s&p')) sector = 'USA';\n  else if (name.includes('developed')) sector = 'Developed Markets';\n  else sector = 'Mixed';\n} else if (instrumentType === 'Fondo' || instrumentType === 'MUTUALFUND') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) sector = 'Healthcare';\n  else if (name.includes('robot') || name.includes('tech')) sector = 'Technology';\n  else if (name.includes('dividend')) sector = 'Dividend';\n  else sector = 'Active Fund';\n}\n\nreturn [{\n  json: {\n    portfolio_id: holding.portfolio_id || 1,\n    isin: holding.isin,\n    ticker: holding.ticker,\n    name: holding.name,\n    short_name: '',\n    current_price: holding.current_price,\n    currency: holding.currency || 'EUR',\n    price_source: 'Fallback',\n\n    // Classification\n    asset_class: asset_class,\n    sector: sector,\n    instrument_type: instrumentType,\n    exchange: '',\n\n    // Financial metrics (0)\n    dividend_yield: 0,\n    annual_dividend: 0,\n    dividend_frequency: 'None',\n\n    // Price ranges\n    fifty_two_week_high: 0,\n    fifty_two_week_low: 0,\n    day_high: 0,\n    day_low: 0,\n\n    // Performance (0)\n    ytd_change_percent: 0,\n    one_month_change_percent: 0,\n    three_month_change_percent: 0,\n    one_year_change_percent: 0,\n\n    // Volume & market\n    volume: 0,\n    previous_close: 0,\n\n    // Metadata\n    has_dividends: false,\n    total_dividends_5y: 0,\n    first_trade_date: 0,\n\n    APP_BASE_URL: holding.APP_BASE_URL,\n    WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n  }\n}];"
      },
      "name": "Fallback - Keep Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1584
      ],
      "id": "1cf4b86d-ead6-4a6d-98df-1e010d4601ef",
      "notes": "Se tutti i provider falliscono, mantiene prezzo esistente + classificazione locale"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        1392
      ],
      "id": "d75e7b71-e681-4190-b8f9-4781f4653d5e",
      "webhookId": "1005db0f-fa45-4aa6-83fe-59c5cfae13ed",
      "notes": "Delay tra batch per evitare rate limiting"
    },
    {
      "parameters": {},
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        1648
      ],
      "id": "21acc2f2-9342-4528-9785-8f7ac3e8f060"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all enriched holdings - Pass object not string\n\n// Prende tutti gli item in ingresso dal ramo \"Done\" di Split In Batches\nconst items = $input.all();\n\n// Se qualcosa è andato storto e non arriva nulla, esci\nif (!items.length) {\n  return [];\n}\n\n// Config dal primo item (APP_BASE_URL ecc.)\nconst firstJson = items[0].json || {};\nconst appBaseUrl = firstJson.APP_BASE_URL || 'https://portfolio.newwave-media.it';\n\n// Rimuovi i campi di config e tieni solo l'enrichment per ciascuna holding\nconst holdings = items.map(item => {\n  const {\n    APP_BASE_URL,\n    WEBHOOK_SECRET,\n    ...enrichment\n  } = item.json;\n\n  return enrichment;\n});\n\n// Payload per l'API PHP\nconst payload = {\n  workflow_id: 'portfolio_enrichment_v3.1',\n  timestamp: new Date().toISOString(),\n  holdings\n};\n\n// Per ora usiamo HMAC_DISABLED (validato lato PHP)\nreturn [{\n  json: {\n    APP_BASE_URL: appBaseUrl,\n    payload,          // oggetto, non stringa\n    signature: 'HMAC_DISABLED'\n  }\n}];\n"
      },
      "name": "Aggregate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1680
      ],
      "id": "25e50565-5781-49b9-b337-e267fe9488f3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portfolio.newwave-media.it/api/n8n/enrich.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\""
            },
            {
              "name": "X-Webhook-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "name": "Post Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        1680
      ],
      "id": "8e750d7f-e199-4544-a44d-ff4260ab4036"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "30 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1552,
        1680
      ],
      "id": "b91e5b90-e3dd-4c84-9670-9e11e52b28b0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de281cb0-f874-462a-a22a-690e0a9552e8",
              "leftValue": "={{ $json.chart?.result?.[0]?.meta?.regularMarketPrice}}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        1392
      ],
      "id": "1be5c277-1f33-46aa-a37a-e4117990b919",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// ================== Helper: funzioni di analisi tecnica ==================\nfunction sma(values, period) {\n  if (!values || values.length < period) return null;\n  const slice = values.slice(-period);\n  const sum = slice.reduce((s, v) => s + v, 0);\n  return parseFloat((sum / period).toFixed(4));\n}\n\nfunction ema(values, period) {\n  if (!values || values.length < period) return null;\n  const k = 2 / (period + 1);\n  let emaPrev = values.slice(0, period).reduce((s, v) => s + v, 0) / period;\n  for (let i = period; i < values.length; i++) {\n    emaPrev = values[i] * k + emaPrev * (1 - k);\n  }\n  return parseFloat(emaPrev.toFixed(4));\n}\n\nfunction stdDev(values) {\n  if (!values) return null;\n  const clean = values.filter(v => typeof v === 'number' && !isNaN(v));\n  if (!clean.length) return null;\n\n  const mean = clean.reduce((s, v) => s + v, 0) / clean.length;\n  const variance = clean.reduce((s, v) => s + Math.pow(v - mean, 2), 0) / clean.length;\n  return Math.sqrt(variance);\n}\n\nfunction rsi(values, period) {\n  if (!values || values.length <= period) return null;\n\n  let gains = 0;\n  let losses = 0;\n  for (let i = 1; i <= period; i++) {\n    const diff = values[i] - values[i - 1];\n    if (diff >= 0) gains += diff;\n    else losses -= diff;\n  }\n  gains /= period;\n  losses = losses === 0 ? 1e-10 : losses / period;\n\n  for (let i = period + 1; i < values.length; i++) {\n    const diff = values[i] - values[i - 1];\n    const gain = diff > 0 ? diff : 0;\n    const loss = diff < 0 ? -diff : 0;\n    gains = (gains * (period - 1) + gain) / period;\n    losses = (losses * (period - 1) + loss) / period;\n  }\n\n  if (losses === 0) return 100;\n  const rs = gains / losses;\n  return parseFloat((100 - 100 / (1 + rs)).toFixed(2));\n}\n\nfunction macd(values, fast = 12, slow = 26, signal = 9) {\n  if (!values || values.length < slow + signal) {\n    return { macd: null, signal: null, hist: null };\n  }\n\n  const kFast = 2 / (fast + 1);\n  const kSlow = 2 / (slow + 1);\n\n  let emaFast = values.slice(0, fast).reduce((s, v) => s + v, 0) / fast;\n  let emaSlow = values.slice(0, slow).reduce((s, v) => s + v, 0) / slow;\n\n  const emaFastArr = [];\n  const emaSlowArr = [];\n\n  for (let i = fast; i < values.length; i++) {\n    emaFast = values[i] * kFast + emaFast * (1 - kFast);\n    emaFastArr.push(emaFast);\n  }\n  for (let i = slow; i < values.length; i++) {\n    emaSlow = values[i] * kSlow + emaSlow * (1 - kSlow);\n    emaSlowArr.push(emaSlow);\n  }\n\n  const offset = emaFastArr.length - emaSlowArr.length;\n  const macdLine = emaFastArr.slice(offset).map((v, idx) => v - emaSlowArr[idx]);\n\n  const kSig = 2 / (signal + 1);\n  let sigPrev = macdLine.slice(0, signal).reduce((s, v) => s + v, 0) / signal;\n  for (let i = signal; i < macdLine.length; i++) {\n    sigPrev = macdLine[i] * kSig + sigPrev * (1 - kSig);\n  }\n\n  const macdLast = macdLine[macdLine.length - 1];\n  const signalLast = sigPrev;\n  const histLast = macdLast - signalLast;\n\n  return {\n    macd: parseFloat(macdLast.toFixed(4)),\n    signal: parseFloat(signalLast.toFixed(4)),\n    hist: parseFloat(histLast.toFixed(4)),\n  };\n}\n\nfunction atr(high, low, close, period = 14) {\n  if (!high || !low || !close) return null;\n  if (high.length < period + 1 || low.length < period + 1 || close.length < period + 1) return null;\n\n  const trs = [];\n  const len = close.length;\n  const start = len - period;\n\n  for (let i = start; i < len; i++) {\n    const h = high[i];\n    const l = low[i];\n    const cPrev = close[i - 1];\n    const tr = Math.max(\n      h - l,\n      Math.abs(h - cPrev),\n      Math.abs(l - cPrev)\n    );\n    trs.push(tr);\n  }\n\n  const avgTr = trs.reduce((s, v) => s + v, 0) / trs.length;\n  return parseFloat(avgTr.toFixed(4));\n}\n\nfunction historicalVolatility(values, days, tradingDaysPerYear = 252) {\n  if (!values || values.length < 2) return null;\n\n  // tieni solo valori numerici\n  const clean = values.filter(v => typeof v === 'number' && !isNaN(v));\n  if (clean.length < 2) return null;\n\n  // usa massimo (days+1) punti, o meno se non ce ne sono\n  const sliceLen = Math.min(clean.length, days + 1);\n  const slice = clean.slice(-sliceLen);\n\n  const returns = [];\n  for (let i = 1; i < slice.length; i++) {\n    const prev = slice[i - 1];\n    const curr = slice[i];\n    if (prev && curr) {\n      const r = curr / prev - 1;\n      if (!isNaN(r) && isFinite(r)) {\n        returns.push(r);\n      }\n    }\n  }\n\n  if (returns.length === 0) return null;\n\n  const sigmaDaily = stdDev(returns);\n  if (sigmaDaily === null || isNaN(sigmaDaily)) return null;\n\n  const sigmaAnnual = sigmaDaily * Math.sqrt(tradingDaysPerYear);\n  return parseFloat((sigmaAnnual * 100).toFixed(2)); // %\n}\n\nfunction bollingerBands(values, period = 20, k = 2) {\n  if (!values || values.length < period) {\n    return {\n      bb_middle: null,\n      bb_upper: null,\n      bb_lower: null,\n      bb_width: null,\n      bb_percent_b: null,\n    };\n  }\n\n  const slice = values.slice(-period);\n  const mean = slice.reduce((s, v) => s + v, 0) / slice.length;\n  const variance = slice.reduce((s, v) => s + Math.pow(v - mean, 2), 0) / slice.length;\n  const stdDevVal = Math.sqrt(variance);\n\n  const middle = mean;\n  const upper = mean + k * stdDevVal;\n  const lower = mean - k * stdDevVal;\n\n  const lastClose = values[values.length - 1];\n  const width = middle !== 0 ? (upper - lower) / middle : null;\n  const percentB = (upper !== lower)\n    ? (lastClose - lower) / (upper - lower)\n    : null;\n\n  return {\n    bb_middle: parseFloat(middle.toFixed(4)),\n    bb_upper: parseFloat(upper.toFixed(4)),\n    bb_lower: parseFloat(lower.toFixed(4)),\n    bb_width: width !== null ? parseFloat((width * 100).toFixed(2)) : null,      // in %\n    bb_percent_b: percentB !== null ? parseFloat(percentB.toFixed(4)) : null,    // 0-1\n  };\n}\n\nfunction fibonacciLevels(high, low, timestamps, lookbackDays = 180) {\n  if (!high || !low || !timestamps) return null;\n\n  const now = Date.now() / 1000;\n  const fromTs = now - lookbackDays * 24 * 60 * 60;\n  const startIdx = timestamps.findIndex(t => t >= fromTs);\n\n  let hSlice = startIdx === -1 ? high : high.slice(startIdx);\n  let lSlice = startIdx === -1 ? low  : low.slice(startIdx);\n\n  const hClean = hSlice.filter(v => typeof v === 'number' && !isNaN(v));\n  const lClean = lSlice.filter(v => typeof v === 'number' && !isNaN(v));\n\n  if (!hClean.length || !lClean.length) return null;\n\n  const periodHigh = Math.max(...hClean);\n  const periodLow  = Math.min(...lClean);\n  if (periodHigh === periodLow) return null;\n\n  const diff = periodHigh - periodLow;\n  const level = p => parseFloat((periodHigh - diff * p).toFixed(4));\n\n  return {\n    fib_low: parseFloat(periodLow.toFixed(4)),\n    fib_high: parseFloat(periodHigh.toFixed(4)),\n    fib_23_6: level(0.236),\n    fib_38_2: level(0.382),\n    fib_50_0: level(0.5),\n    fib_61_8: level(0.618),\n    fib_78_6: level(0.786),\n  };\n}\n\nfunction volumeMetrics(volume, currentVolume, period = 20) {\n  if (!volume || !volume.length || !currentVolume) {\n    return { vol_avg_20d: null, vol_ratio_current_20d: null };\n  }\n  if (volume.length < period) {\n    const avg = volume.reduce((s, v) => s + v, 0) / volume.length;\n    return {\n      vol_avg_20d: Math.round(avg),\n      vol_ratio_current_20d: avg > 0 ? parseFloat((currentVolume / avg).toFixed(2)) : null,\n    };\n  }\n  const slice = volume.slice(-period);\n  const avg = slice.reduce((s, v) => s + v, 0) / slice.length;\n  return {\n    vol_avg_20d: Math.round(avg),\n    vol_ratio_current_20d: avg > 0 ? parseFloat((currentVolume / avg).toFixed(2)) : null,\n  };\n}\n\nfunction rangeStats(close, timestamps, lookbackDays) {\n  if (!close || !close.length || !timestamps || !timestamps.length) {\n    return { min: null, max: null, percentile: null };\n  }\n\n  const now = Date.now() / 1000;\n  const fromTs = now - lookbackDays * 24 * 60 * 60;\n  const startIdx = timestamps.findIndex(t => t >= fromTs);\n\n  let slice;\n  if (startIdx === -1) {\n    slice = close;\n  } else {\n    slice = close.slice(startIdx);\n  }\n\n  // tieni solo valori numerici\n  const numericSlice = slice.filter(v => typeof v === 'number' && !isNaN(v));\n  if (!numericSlice.length) return { min: null, max: null, percentile: null };\n\n  const minVal = Math.min(...numericSlice);\n  const maxVal = Math.max(...numericSlice);\n  const lastClose = close[close.length - 1];\n\n  if (typeof lastClose !== 'number' || isNaN(lastClose) || maxVal === minVal) {\n    return {\n      min: parseFloat(minVal.toFixed(4)),\n      max: parseFloat(maxVal.toFixed(4)),\n      percentile: null,\n    };\n  }\n\n  const pct = (lastClose - minVal) / (maxVal - minVal) * 100;\n  return {\n    min: parseFloat(minVal.toFixed(4)),\n    max: parseFloat(maxVal.toFixed(4)),\n    percentile: parseFloat(pct.toFixed(2)),\n  };\n}\n\n// ================== Parse Yahoo Finance v8 chart response ==================\nconst holding = $node['Preprocess Symbols'].json;\nconst yahooResponse = $json;\n\nlet meta = {};\nlet dividends = {};\nlet priceHistory = {};\n\ntry {\n  const result = yahooResponse.chart.result[0];\n  meta = result.meta || {};\n  dividends = result.events?.dividends || {};\n  priceHistory = {\n    timestamps: result.timestamp || [],\n    quotes: result.indicators?.quote?.[0] || {}\n  };\n} catch (e) {\n  return []; // Trigger fallback\n}\n\n// Get current price\nconst currentPrice = meta.regularMarketPrice || 0;\nif (!currentPrice || currentPrice === 0) {\n  return [];\n}\n\n// Calculate dividend yield from historical dividends (last 12 months)\nlet annualDividend = 0;\nconst today = Date.now() / 1000; // Unix timestamp\nconst oneYearAgo = today - (365 * 24 * 60 * 60);\n\nObject.keys(dividends).forEach(timestamp => {\n  if (parseInt(timestamp) >= oneYearAgo) {\n    annualDividend += dividends[timestamp].amount;\n  }\n});\n\nconst dividendYield = currentPrice > 0 ? (annualDividend / currentPrice) * 100 : 0;\n\n// Price history arrays\nconst closePrices = priceHistory.quotes.close || [];\nconst highPrices = priceHistory.quotes.high || [];\nconst lowPrices = priceHistory.quotes.low || [];\nconst volumes = priceHistory.quotes.volume || [];\nconst timestamps = priceHistory.timestamps || [];\n\n// ================== Performance percentuale (YTD, 1M, 3M, 1Y) ==================\nlet changeData = {\n  ytd_change: 0,\n  one_month_change: 0,\n  three_month_change: 0,\n  one_year_change: 0\n};\n\nif (closePrices.length > 0 && timestamps.length > 0) {\n  const latestPrice = closePrices[closePrices.length - 1];\n  \n  // YTD (from Jan 1st this year)\n  const yearStart = new Date(new Date().getFullYear(), 0, 1).getTime() / 1000;\n  const ytdIndex = timestamps.findIndex(t => t >= yearStart);\n  if (ytdIndex !== -1) {\n    const ytdPrice = closePrices[ytdIndex];\n    changeData.ytd_change = ((latestPrice - ytdPrice) / ytdPrice * 100).toFixed(2);\n  }\n  \n  // 1 Month ago\n  const oneMonthAgo = today - (30 * 24 * 60 * 60);\n  const monthIndex = timestamps.findIndex(t => t >= oneMonthAgo);\n  if (monthIndex !== -1) {\n    const monthPrice = closePrices[monthIndex];\n    changeData.one_month_change = ((latestPrice - monthPrice) / monthPrice * 100).toFixed(2);\n  }\n  \n  // 3 Months ago\n  const threeMonthsAgo = today - (90 * 24 * 60 * 60);\n  const threeMonthIndex = timestamps.findIndex(t => t >= threeMonthsAgo);\n  if (threeMonthIndex !== -1) {\n    const threeMonthPrice = closePrices[threeMonthIndex];\n    changeData.three_month_change = ((latestPrice - threeMonthPrice) / threeMonthPrice * 100).toFixed(2);\n  }\n  \n  // 1 Year ago\n  const yearIndex = timestamps.findIndex(t => t >= oneYearAgo);\n  if (yearIndex !== -1) {\n    const yearPrice = closePrices[yearIndex];\n    changeData.one_year_change = ((latestPrice - yearPrice) / yearPrice * 100).toFixed(2);\n  }\n}\n\n// ================== Analisi tecnica: Medie mobili ==================\nconst sma9   = sma(closePrices, 9);\nconst sma21  = sma(closePrices, 21);\nconst sma50  = sma(closePrices, 50);\nconst sma200 = sma(closePrices, 200);\n\nconst ema9   = ema(closePrices, 9);\nconst ema21  = ema(closePrices, 21);\nconst ema50  = ema(closePrices, 50);\nconst ema200 = ema(closePrices, 200);\n\n// ================== Oscillatori ==================\nconst rsi14 = rsi(closePrices, 14);\nconst macdData = macd(closePrices, 12, 26, 9);\n\n// ================== Volatilità ==================\nconst atr14 = atr(highPrices, lowPrices, closePrices, 14);\nconst atr14_pct = (atr14 !== null && currentPrice > 0)\n  ? parseFloat(((atr14 / currentPrice) * 100).toFixed(2))\n  : null;\n\nconst hist_vol_30d = historicalVolatility(closePrices, 30);  // in %\nconst hist_vol_90d = historicalVolatility(closePrices, 90);  // in %\n\n// ================== Volumi ==================\nconst currentVolume = meta.regularMarketVolume || 0;\nconst volMetrics = volumeMetrics(volumes, currentVolume, 20);\n\n// ================== Range & posizione nel range ==================\nconst range1M  = rangeStats(closePrices, timestamps, 30);\nconst range3M  = rangeStats(closePrices, timestamps, 90);\nconst range6M  = rangeStats(closePrices, timestamps, 180);\nconst range1Y  = rangeStats(closePrices, timestamps, 365);\n\n// ================== Fibonacci ==================\nconst fib = fibonacciLevels(highPrices, lowPrices, timestamps, 180);\nlet fibDistances = {};\nif (fib) {\n  const cp = currentPrice;\n  const levels = {\n    fib_23_6: fib.fib_23_6,\n    fib_38_2: fib.fib_38_2,\n    fib_50_0: fib.fib_50_0,\n    fib_61_8: fib.fib_61_8,\n    fib_78_6: fib.fib_78_6,\n  };\n  Object.keys(levels).forEach(key => {\n    const lvl = levels[key];\n    if (lvl && cp > 0) {\n      const distPct = (cp - lvl) / cp * 100;\n      fibDistances[key + '_dist_pct'] = parseFloat(distPct.toFixed(2));\n    } else {\n      fibDistances[key + '_dist_pct'] = null;\n    }\n  });\n}\n\n// ================== Bande di Bollinger ==================\nconst bb = bollingerBands(closePrices, 20, 2);\n\n// ================== Classification (come in origine) ==================\nconst name = holding.name.toLowerCase();\nconst instrumentType = meta.instrumentType || holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend') || name.includes('aristocrat')) {\n    sector = 'Dividend';\n  } else if (name.includes('world') || name.includes('global')) {\n    sector = 'Global';\n  } else if (name.includes('u.s.') || name.includes('s&p')) {\n    sector = 'USA';\n  } else if (name.includes('developed')) {\n    sector = 'Developed Markets';\n  } else {\n    sector = 'Mixed';\n  }\n} else if (instrumentType === 'Fondo' || instrumentType === 'MUTUALFUND') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) sector = 'Healthcare';\n  else if (name.includes('robot') || name.includes('tech')) sector = 'Technology';\n  else if (name.includes('dividend')) sector = 'Dividend';\n  else sector = 'Active Fund';\n}\n\n// Count dividends in last 12 months for frequency detection\nconst dividendCount = Object.keys(dividends).filter(ts => parseInt(ts) >= oneYearAgo).length;\nlet dividendFrequency = 'None';\nif (dividendCount >= 4) dividendFrequency = 'Quarterly';\nelse if (dividendCount >= 2) dividendFrequency = 'Semi-Annual';\nelse if (dividendCount === 1) dividendFrequency = 'Annual';\n\n// ================== Output finale ==================\nconst output = {\n  // Identificazione\n  portfolio_id: holding.portfolio_id || 1,\n  isin: holding.isin,\n  ticker: holding.ticker,\n  name: meta.longName || holding.name,\n  short_name: meta.shortName || '',\n  current_price: currentPrice,\n  currency: meta.currency || 'EUR',\n  price_source: 'YahooFinance_v8',\n\n  // Classification\n  asset_class: asset_class,\n  sector: sector,\n  instrument_type: instrumentType,\n  exchange: meta.exchangeName || '',\n\n  // Financial metrics\n  dividend_yield: parseFloat(dividendYield.toFixed(2)),\n  annual_dividend: parseFloat(annualDividend.toFixed(4)),\n  dividend_frequency: dividendFrequency,\n\n  // Price ranges meta\n  fifty_two_week_high: meta.fiftyTwoWeekHigh || 0,\n  fifty_two_week_low: meta.fiftyTwoWeekLow || 0,\n  day_high: meta.regularMarketDayHigh || 0,\n  day_low: meta.regularMarketDayLow || 0,\n\n  // Performance % su periodi principali\n  ytd_change_percent: parseFloat(changeData.ytd_change) || 0,\n  one_month_change_percent: parseFloat(changeData.one_month_change) || 0,\n  three_month_change_percent: parseFloat(changeData.three_month_change) || 0,\n  one_year_change_percent: parseFloat(changeData.one_year_change) || 0,\n\n  // Volume & market\n  volume: currentVolume,\n  previous_close: meta.chartPreviousClose || 0,\n\n  // Metadata dividendi\n  has_dividends: Object.keys(dividends).length > 0,\n  total_dividends_5y: Object.keys(dividends).length,\n  first_trade_date: meta.firstTradeDate || 0,\n\n  // --- Analisi tecnica: Medie mobili ---\n  sma9,\n  sma21,\n  sma50,\n  sma200,\n  ema9,\n  ema21,\n  ema50,\n  ema200,\n\n  // --- Oscillatori ---\n  rsi14,\n  macd_value: macdData.macd,\n  macd_signal: macdData.signal,\n  macd_hist: macdData.hist,\n\n  // --- Volatilità ---\n  atr14,\n  atr14_pct,\n  hist_vol_30d,\n  hist_vol_90d,\n\n  // --- Volumi ---\n  vol_avg_20d: volMetrics.vol_avg_20d,\n  vol_ratio_current_20d: volMetrics.vol_ratio_current_20d,\n\n  // --- Range & posizione nel range ---\n  range_1m_min: range1M.min,\n  range_1m_max: range1M.max,\n  range_1m_percentile: range1M.percentile,\n\n  range_3m_min: range3M.min,\n  range_3m_max: range3M.max,\n  range_3m_percentile: range3M.percentile,\n\n  range_6m_min: range6M.min,\n  range_6m_max: range6M.max,\n  range_6m_percentile: range6M.percentile,\n\n  range_1y_min: range1Y.min,\n  range_1y_max: range1Y.max,\n  range_1y_percentile: range1Y.percentile,\n\n  // --- Fibonacci (livelli + distanza % dal prezzo) ---\n  fib_low: fib ? fib.fib_low : null,\n  fib_high: fib ? fib.fib_high : null,\n  fib_23_6: fib ? fib.fib_23_6 : null,\n  fib_38_2: fib ? fib.fib_38_2 : null,\n  fib_50_0: fib ? fib.fib_50_0 : null,\n  fib_61_8: fib ? fib.fib_61_8 : null,\n  fib_78_6: fib ? fib.fib_78_6 : null,\n  fib_23_6_dist_pct: fibDistances.fib_23_6_dist_pct ?? null,\n  fib_38_2_dist_pct: fibDistances.fib_38_2_dist_pct ?? null,\n  fib_50_0_dist_pct: fibDistances.fib_50_0_dist_pct ?? null,\n  fib_61_8_dist_pct: fibDistances.fib_61_8_dist_pct ?? null,\n  fib_78_6_dist_pct: fibDistances.fib_78_6_dist_pct ?? null,\n\n  // --- Bande di Bollinger ---\n  bb_middle: bb.bb_middle,\n  bb_upper: bb.bb_upper,\n  bb_lower: bb.bb_lower,\n  bb_width_pct: bb.bb_width,         // in %\n  bb_percent_b: bb.bb_percent_b,     // 0-1\n\n  // Meta per webhook\n  APP_BASE_URL: holding.APP_BASE_URL,\n  WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n};\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1200
      ],
      "id": "f3e9225e-122d-4804-a126-87e13e00ef41",
      "name": "Parse Yahoo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "371edcc0-0198-4c74-8dfd-a2ff2de2b4f8",
              "leftValue": "={{ $json.latestQuote?.raw }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        1488
      ],
      "id": "947a5b95-7ed7-4dcf-bde2-3cafa01870fc",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Parse JustETF response - ENHANCED & COMPLETE\nconst holding = $node['Preprocess Symbols'].json;\nconst justETFResponse = $json;\n\nlet price = 0;\nlet fiftyTwoWeekHigh = 0;\nlet fiftyTwoWeekLow = 0;\nlet previousClose = 0;\nlet dayChange = 0;\n\ntry {\n  const data = typeof justETFResponse === 'string' ? JSON.parse(justETFResponse) : justETFResponse;\n  price = data.latestQuote?.raw || 0;\n  fiftyTwoWeekHigh = data.quoteLowHigh?.high?.raw || 0;\n  fiftyTwoWeekLow = data.quoteLowHigh?.low?.raw || 0;\n  previousClose = data.previousQuote?.raw || 0;\n  dayChange = data.dtdPrc?.raw || 0;\n} catch (e) {\n  return [];\n}\n\nif (!price || price === 0) {\n  return [];\n}\n\n// Local classification\nconst name = holding.name.toLowerCase();\nconst instrumentType = holding.instrument_type;\n\nlet asset_class = 'Unknown';\nlet sector = 'Unknown';\n\nif (name.includes('gold') || name.includes('silver') || instrumentType === 'ETC') {\n  asset_class = 'Commodity';\n  sector = name.includes('gold') ? 'Gold' : 'Precious Metals';\n} else if (instrumentType === 'ETF') {\n  asset_class = 'Equity';\n  if (name.includes('dividend')) sector = 'Dividend';\n  else if (name.includes('world') || name.includes('global')) sector = 'Global';\n  else if (name.includes('u.s.') || name.includes('s&p')) sector = 'USA';\n  else if (name.includes('developed')) sector = 'Developed Markets';\n  else sector = 'Mixed';\n} else if (instrumentType === 'Fondo' || instrumentType === 'MUTUALFUND') {\n  asset_class = 'Equity';\n  if (name.includes('biotech')) sector = 'Healthcare';\n  else if (name.includes('robot') || name.includes('tech')) sector = 'Technology';\n  else if (name.includes('dividend')) sector = 'Dividend';\n  else sector = 'Active Fund';\n}\n\nreturn [{\n  json: {\n    portfolio_id: holding.portfolio_id || 1,\n    isin: holding.isin,\n    ticker: holding.ticker,\n    name: holding.name,\n    short_name: '',\n    current_price: price,\n    currency: 'EUR',\n    price_source: 'JustETF',\n\n    // Classification\n    asset_class: asset_class,\n    sector: sector,\n    instrument_type: instrumentType,\n    exchange: '',\n\n    // Financial metrics\n    dividend_yield: 0,\n    annual_dividend: 0,\n    dividend_frequency: 'None',\n\n    // Price ranges (from JustETF)\n    fifty_two_week_high: fiftyTwoWeekHigh,\n    fifty_two_week_low: fiftyTwoWeekLow,\n    day_high: 0,\n    day_low: 0,\n\n    // Performance\n    ytd_change_percent: dayChange,\n    one_month_change_percent: 0,\n    three_month_change_percent: 0,\n    one_year_change_percent: 0,\n\n    // Volume & market\n    volume: 0,\n    previous_close: previousClose,\n\n    // Metadata\n    has_dividends: false,\n    total_dividends_5y: 0,\n    first_trade_date: 0,\n\n    APP_BASE_URL: holding.APP_BASE_URL,\n    WEBHOOK_SECRET: holding.WEBHOOK_SECRET\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1392
      ],
      "id": "ad5abdb0-5604-4ab8-9e90-307cdba042af",
      "name": "Parse JustETF"
    },
    {
      "parameters": {
        "jsCode": "// Extract dividends - Forecast + mark as RECEIVED when ex_date arrives\nconst holding = $node['Preprocess Symbols'].json;\nconst yahooResponse = $node['Yahoo Finance Price'].json;\n\nlet dividends = [];\n\ntry {\n  const result = yahooResponse.chart.result[0];\n  const divData = result.events?.dividends || {};\n  const ticker = holding.ticker;\n  const quantity = holding.quantity || 0;\n  \n  const today = Date.now() / 1000;\n  const todayDate = new Date().toISOString().split('T')[0]; // YYYY-MM-DD\n  const twoYearsAgo = today - (24 * 30 * 24 * 60 * 60);\n  \n  // Step 1: Raccogli dividendi storici per calcoli\n  const historicalDividends = [];\n  \n  Object.keys(divData).forEach(timestamp => {\n    const ts = parseInt(timestamp);\n    \n    if (ts < twoYearsAgo) {\n      return;\n    }\n    \n    const divEvent = divData[timestamp];\n    const amountPerShare = divEvent.amount || 0;\n    \n    historicalDividends.push({\n      amount_per_share: amountPerShare,\n      timestamp: ts\n    });\n  });\n  \n  // Ordina per data\n  historicalDividends.sort((a, b) => a.timestamp - b.timestamp);\n  \n  // Step 2: Genera forecast\n  if (historicalDividends.length >= 4) {\n    // Media ultimi 4\n    const lastFour = historicalDividends.slice(-4);\n    const avgAmount = lastFour.reduce((sum, d) => sum + d.amount_per_share, 0) / 4;\n    \n    // Intervallo medio\n    let totalDays = 0;\n    for (let i = 1; i < lastFour.length; i++) {\n      const diff = (lastFour[i].timestamp - lastFour[i-1].timestamp) / (24 * 60 * 60);\n      totalDays += diff;\n    }\n    const avgIntervalDays = Math.round(totalDays / (lastFour.length - 1));\n    \n    const lastTimestamp = historicalDividends[historicalDividends.length - 1].timestamp;\n    \n    // Genera 4 forecast futuri\n    for (let i = 1; i <= 4; i++) {\n      const nextTimestamp = lastTimestamp + (avgIntervalDays * i * 24 * 60 * 60);\n      const nextExDate = new Date(nextTimestamp * 1000).toISOString().split('T')[0];\n      const nextPaymentDate = new Date((nextTimestamp + 30 * 24 * 60 * 60) * 1000).toISOString().split('T')[0];\n      \n      // Determina status: se ex_date <= oggi → RECEIVED, altrimenti FORECAST\n      const status = nextExDate <= todayDate ? 'RECEIVED' : 'FORECAST';\n      \n      dividends.push({\n        ticker: ticker,\n        status: status,\n        ex_date: nextExDate,\n        payment_date: nextPaymentDate,\n        amount_per_share: parseFloat(avgAmount.toFixed(4)),\n        quantity: quantity,\n        total_amount: parseFloat((avgAmount * quantity).toFixed(2))\n      });\n    }\n  }\n  \n} catch (e) {\n  // Error\n}\n\nif (dividends.length === 0) {\n  return [];\n}\n\nreturn [{\n  json: {\n    dividends: dividends\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1024
      ],
      "id": "2f827b6a-9143-4c5e-82c5-3d9a7446d612",
      "name": "Extract Dividends",
      "notes": "Estrae dividendi storici da Yahoo per singolo holding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portfolio.newwave-media.it/api/dividends.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (n8n-dividend-sync/1.0)"
            },
            {
              "name": "X-Webhook-Signature",
              "value": "HMAC_DISABLED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1024
      ],
      "id": "8c54658f-7a81-4649-8e08-8719db530b92",
      "name": "Push Dividends to DB",
      "notes": "POST dividendi verso /api/dividends.php"
    }
  ],
  "pinData": {},
  "connections": {
    "Config Variables": {
      "main": [
        [
          {
            "node": "Get Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio": {
      "main": [
        [
          {
            "node": "Extract Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Holdings": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Aggregate & Sign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preprocess Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Symbols": {
      "main": [
        [
          {
            "node": "Yahoo Finance Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance Price": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Dividends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JustETF Price": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback - Keep Existing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Sign": {
      "main": [
        [
          {
            "node": "Post Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse Yahoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JustETF Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Yahoo": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Parse JustETF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback - Keep Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JustETF": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dividends": {
      "main": [
        [
          {
            "node": "Push Dividends to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b42af890-58f2-4c1c-8658-f762d2764cd8",
  "meta": {
    "instanceId": "fe117d56aad4346ee596609bb8c3079d6edd34e383a675201472f524674346cc"
  },
  "id": "2AllcKSgpLlWBTcr",
  "tags": []
}